main {
    .test_area {
        width: 80%;
        max-width: 1200px;
        margin: 80px auto;
        &.information_area {
            .information_item_area {
                .information_tittle {
                    display: flex;
                    justify-content: center;
                    color: darken($main_color, 15%);
                    margin: 0 auto 50px;
                }

                .input_area {
                    display: flex;
                    align-items: flex-start;

                    .input-group-label {
                        padding: 10px 15px 10px 0;
                        border: 1px solid transparent;
                    }

                    .dropdown-menu{
                        padding: 0;
                        position: absolute;
                        left: 0;
                        width: 100%;

                        li{
                            &.dropdown-item {

                                &:hover{
                                    color: $white;
                                    background-color: $bright_main_color;
                                }

                                &.check{
                                    color: $white;

                                    i{
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }

                    .input_date_icon {
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        z-index: 1;
                        pointer-events: none;
                        user-select: none;
                        color: $main_color_grey;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    main {
        .test_area {
            background-color: #f6f4f3;
            padding: 40px;
            border-radius: 50px;
            &.information_area {
                .information_item_area {
                    .information_area {
                        .input_area {
                            flex-direction: row;
                            align-items: center;

                            .input-group-label {
                                padding: 10px 30px 10px 0;
                                width: calc(30% - 30px);
                                text-align: right;
                            }

                            .dropdown-menu{
                                width: 70%;
                            }

                            .form-control {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}