main {
    .test_area {
        width: 90%;
        max-width: 1200px;
        margin: 80px auto;
        &.questionnaire_area {
            .questionnaire_item_area {
                .questionnaire_content {
                    .questionnaire_content_item{
                        .input_area{
                            margin: 0 auto;
                            padding: 40px 0;
                            border-bottom: 1px solid $main_color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {
        .test_area{
            width: 80%;
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .test_area {
            background-color: #f6f4f3;
            padding: 40px;
            border-radius: 50px;
            &.information_area {
                .information_item_area {
                    .information_area {
                        .input_area {
                            flex-direction: row;
                            align-items: center;

                            .input-group-label {
                                padding: 10px 30px 10px 0;
                                width: calc(30% - 30px);
                                text-align: right;
                            }

                            .dropdown-menu{
                                width: 70%;
                            }

                            .form-control {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}