main {
    .test_area {
        &.quiz_area{
            .quiz_item_area{
                .test_area_content {

                    .course_area {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin: 20px auto;
    
                        .course_name {
                            display: flex;
                            flex-direction: column;
                            span {
                                color: $main_color;
                                font-size: 25px;
                                font-weight: bold;
                            }
                        }
                    }
    
                    .dialogue_area {
                        padding: 20px 10px 60px;
                        width: 90%;
                        margin: 0 auto;
                        border: 1px solid $main_color;
                        background-color: $white;
                        border-radius: 5px;
    
                        .dialogue_block {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            padding: 70px 0 0;
    
                            position: relative;
    
                            .dialogue_avatar {
                                width: 40px;
                                
                                img{
                                    border-radius: 50%;
                                }
    
                                p{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: $bright_main_color;
                                    color: $white;
                                    height: 40px;
                                    border-radius: 50%;
                                }
                            }
    
                            .dialog_box {
                                display: flex;
                                align-items: center;
                                padding: 12px 10px;
                                border-radius: 5px;
                                position: relative;
                                max-width: 60%;
                                position: relative;
                                width: auto;
                                max-width: none;
                                background-color: $dialog_box_bg;
                                border: 2px solid $dialog_box_border;
    
                                .dialog_box_icon {
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: $main-color;
                                    border: 1px solid $main_color;
                                    color: $white;
                                    border-radius: 50%;
                                    position: absolute;
                                    z-index: 1;
                                    bottom: 0;
                                    transform: translate(0, calc(100% + 10px));
    
                                    &:hover {
                                        transform: translate(0, calc(100% + 10px)) scale(1.05);
                                        background-color: $bright_main_color;
                                        border: 1px solid $bright_main_color;
                                    }
                                }
    
                                &::before {
                                    content: "";
                                    position: absolute;
                                    z-index: 1;
                                    top: 50%;
                                }
    
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                }
    
                                .sound_bar {
                                    height: 20px;
                                    margin: 0 10px;
                                    display: flex;
                                    align-items: center;
    
                                    &.play_animation {
                                        .bar {
                                            animation: sound 0ms -800ms linear infinite alternate;
                                        }
                                    }
    
                                    .bar {
                                        background-color: $main-color;
                                        height: 0px;
                                        width: 3px;
                                        margin: 0px 2px;
                                        border-radius: 50px;
    
                                        &:nth-child(1) {
                                            animation-duration: 474ms;
                                            height: 10px;
                                        }
    
                                        &:nth-child(2) {
                                            animation-duration: 433ms;
                                            height: 15px;
                                        }
    
                                        &:nth-child(3) {
                                            animation-duration: 407ms;
                                            height: 20px;
                                        }
    
                                        &:nth-child(4) {
                                            animation-duration: 458ms;
                                            height: 10px;
                                        }
                                    }
                                }
    
                                .dialog_box_time {
                                    color: $main-color;
                                }
                            }

                            .dialog_comments{
                                width: 100%;
                                margin: 60px auto 20px;

                                .dialog_comments_text{
                                    display: flex;

                                    .dialog_comments_text_one{
                                        word-break: keep-all;
                                    }
                                }
                            }
    
                            &.dialogue_left {
                                .dialogue_avatar {
                                    margin: 0 15px 0 0;
                                }
    
                                .dialog_box {
                                    // background-color: $light_purple;
    
                                    .dialog_box_icon {
                                        left: 0px;
                                        
                                    }
    
                                    &::before {
                                        border-width: 8px 0px 8px 8px;
                                        left: 0;
                                        transform: translate(-100%, -50%);
                                        border-right: 8px solid $dialog_box_bg;
                                        border-bottom: 8px solid transparent;
                                        border-left: 8px solid transparent;
                                        border-top: 8px solid transparent;
                                    }
    
                                    &::after {
                                        border-width: 10px 0px 10px 10px;
                                        left: 0;
                                        transform: translate(-100%, -50%);
                                        border-right: 10px solid $dialog_box_border;
                                        border-bottom: 10px solid transparent;
                                        border-left: 10px solid transparent;
                                        border-top: 10px solid transparent;
                                    }
                                }
                            }
    
                            &.dialogue_right {
                                justify-content: flex-end;
    
                                .dialogue_avatar {
                                    margin: 0 0 0 15px;
                                    order: 2;
                                }
    
                                .dialog_box {
                                    // background-color: $main-color;
                                    order: 1;
    
                                    .dialog_box_icon {
                                        order: 3;
                                        right: 0px;
                                    }
    
                                    &::before {
                                        border-width: 8px 8px 8px 0px;
                                        right: 0;
                                        transform: translate(100%, -50%);
                                        border-right: 8px solid transparent;
                                        border-bottom: 8px solid transparent;
                                        border-left: 8px solid $dialog_box_bg;
                                        border-top: 8px solid transparent;
                                    }
    
                                    &::after {
                                        border-width: 10px 10px 10px 0px;
                                        right: 0;
                                        transform: translate(100%, -50%);
                                        border-right: 10px solid transparent;
                                        border-bottom: 10px solid transparent;
                                        border-left: 10px solid $dialog_box_border;
                                        border-top: 10px solid transparent;
                                    }
    
                                    .sound_bar {
                                        order: 2;
                                    }
    
                                    .dialog_box_time {
                                        order: 1;
                                    }
                                }
                            }
    
                            &:nth-child(1) {
                                padding: 0;
                            }
                        }
                    }
    
                    .toolbar_area {
                        width: 90%;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin: 20px auto 0;
                
                        .btn_icon_area {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            margin: 0 auto 20px;
                            .btn_icon {
                                width: 55px;
                                height: 55px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0 auto;
                                border-radius: 50%;
                                background-color: $main-color;
                                transform: scale(0.95);
                                color: $white;
                
                                svg {
                                    color: $white;
                                    font-size: 30px;
                                }

                                i {
                                    color: $white;
                                    font-size: 30px;
                                }
                
                                &:hover {
                                    transform: scale(1);
                                    background-color: $bright_main_color;
                                }
                            }
                
                            &.recording_area{
                                display: flex;
                                flex-direction: column;
                            }
                
                            .recording_time{
                                display: none;
                                color: $main_color;
                                margin: 10px auto 0;
                                text-align: center;
                            }
                        }

                        .btn_finish_area{
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            border: 1px solid $main_color_red;
                            border-radius: 5px;

                            .btn_finish_icon{
                                padding: 5px 10px;
                                color: $main_color_red;
                            }

                            .btn_finish_text{
                                display: flex;
                                padding: 5px 10px;
                                text-align: left;
                                color: $main_color_red;

                                p{
                                    margin: 0 5px;
                                }
                            }

                            &:hover{
                                background-color: $main_color_red;

                                .btn_finish_icon{
                                    color: $white;
                                }

                                .btn_finish_text{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes sound {
    0% {
        opacity: .55;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 20px;
    }
}

@media screen and (min-width: 768px) {
    main {
        .test_area {
            &.quiz_area{
                .quiz_item_area{
                    .test_area_content {

                        .dialogue_area {
                            padding: 60px 20px;
        
                            .dialogue_block {
                                padding: 60px 0 0;
        
                                .dialogue_avatar {
                                    width: 50px;
        
                                    p{
                                        height: 50px;
                                    }
                                }
        
                                .dialog_box {
                                    padding: 15px 20px;
        
                                    .dialog_box_icon {
                                        width: 50px;
                                        height: 50px;
        
                                        position: relative;
                                        bottom: auto;
                                        transform: translate(0, 0);
        
                                        &:hover {
                                            transform: scale(1.05);
                                        }
        
                                        i {
                                            font-size: 30px;
                                        }
                                    }
        
                                    .sound_bar {
                                        height: 30px;
                                        margin: 0 15px;
        
                                        .bar {
        
                                            &:nth-child(1) {
                                                height: 15px;
                                            }
        
                                            &:nth-child(2) {
                                                height: 20px;
                                            }
        
                                            &:nth-child(3) {
                                                height: 30px;
                                            }
        
                                            &:nth-child(4) {
                                                height: 20px;
                                            }
                                        }
                                    }
                                }

                                .dialog_comments{
                                    margin: 20px auto;
                                }
        
                                &.dialogue_left {
                                    .dialogue_avatar {
                                        margin: 0 25px 0 0;
                                    }
        
                                    .dialog_box {
        
                                        .dialog_box_icon {
                                            left: auto;
                                        }
        
                                        &::before {
                                            border-width: 10px 0px 10px 10px;
                                            border-right: 10px solid $dialog_box_bg;
                                            border-bottom: 10px solid transparent;
                                            border-left: 10px solid transparent;
                                            border-top: 10px solid transparent;
                                        }
        
                                        &::after {
                                            border-width: 12px 0px 12px 12px;
                                            border-right: 12px solid $dialog_box_border;
                                            border-bottom: 12px solid transparent;
                                            border-left: 12px solid transparent;
                                            border-top: 12px solid transparent;
                                        }
                                    }
                                }
        
                                &.dialogue_right {
                                    .dialogue_avatar {
                                        margin: 0 0 0 25px;
                                    }
        
                                    .dialog_box {
        
                                        .dialog_box_icon {
                                            right: auto;
                                        }
        
                                        &::before {
                                            border-width: 10px 10px 10px 0px;
                                            border-right: 10px solid transparent;
                                            border-bottom: 10px solid transparent;
                                            border-left: 10px solid $dialog_box_bg;
                                            border-top: 10px solid transparent;
                                        }
        
                                        &::after {
                                            border-width: 12px 12px 12px 0px;
                                            border-right: 12px solid transparent;
                                            border-bottom: 12px solid transparent;
                                            border-left: 12px solid $dialog_box_border;
                                            border-top: 12px solid transparent;
                                        }
                                    }
                                }
                            }
                        }
        
                        .toolbar_area {
                            margin: 40px auto 0;
                    
                            .btn_icon_area {
                                .btn_icon {
                                    width: 65px;
                                    height: 65px;
                    
                                    i {
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1024px) {
    main{
        .test_area {
            &.quiz_area{
                .quiz_item_area{
                    .test_area_content {
                        .toolbar_area {
                    
                            .btn_icon_area {
                                width: auto;
                                margin: 0 auto;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50% , -50%);
                            }
    
                            .btn_finish_area{
                                margin: 0 0 0 auto;
                                display: flex;
                                align-items: center;
                                border: 1px solid $main_color_red;
                                border-radius: 5px;
    
                                .btn_finish_icon{
                                    padding: 5px 10px;
                                    color: $main_color_red;
                                }
    
                                .btn_finish_text{
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}