main {
    .starquiz_area {
        // background: linear-gradient(316deg, $main_color 0%, $main_color 35%, $bright_main_color 100%);
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .starquiz_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 0;

            .starquiz_text {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px auto;

                h4 {
                    color: $main_color;
                }
            }

            // .starquiz_link {
            //     margin: 35px auto;

            //     a {
            //         display: block;
            //         padding: 15px 40px;
            //         border-radius: 50px;
            //         border: 1px solid $white;
            //         color: $white;

            //         &:hover{
            //             color: $text_black;
            //             background-color: $white;
            //         }
            //     }
            // }


        }
    }

    .starquiz_logo {
        width: 80%;
        margin: 30px auto;
        max-width: 500px;
    }

    .page_tittle{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h4{
            color: $bright_main_color;
            margin: 5px 0;

            &:nth-child(1){
                margin: 5px 10px 5px 0;
            }
        }
    }

    .test_area{
        .starquiz_logo {
            max-width: 350px;
        }
    }

    .link_btn_area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bright_main_color;
        color: $white;
        border-radius: 5px;
        margin: 40px auto;
        padding: 20px 40px;
        text-align: center;
        color: $main_color;
        transform: scale(0.9);
        width: 80%;
        max-width: 500px;
        overflow: hidden;
        cursor: pointer;

        &::before {
            -webkit-transform-origin: top center;
            z-index: 0;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-origin: top center;
            scale: 1 0;
            background-color: $main_color;
            content: "";
            transition-duration: .5s;
            transition-property: scale;
            transition-timing-function: cubic-bezier(.075, .82, .165, 1);
        }

        .link_btn {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            z-index: 1;
            color: $white;

            .link_btn_text {
                width: 100%;
                color: $white;
                cursor: pointer;
            }

            .link_btn_icon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border: 1px solid $white;
                background-color: $white;
                border-radius: 50%;
                color: $bright_main_color;
                margin: 20px auto 0;
            }

        }

        &:hover,
        &:active {
            transform: scale(1);

            .select_page_btn {
                color: $bright_main_color;
            }

            &:before {
                -webkit-transform-origin: bottom center;
                transform-origin: bottom center;
                scale: 1 1;
            }

            .select_page_btn {
                .select_page_btn_icon {
                    background-color: transparent;
                    color: $bright_main_color;
                    border: 1px solid $bright_main_color;
                    transition: 0.3s;
                }
            }
        }

        &:focus {
            border: 2px solid $main_color;

            .select_page_btn {

                p,
                input {
                    color: $white;
                }
            }

        }

        &.disabled {
            background-color: $disabled;
            opacity: 0.5;
            cursor: auto;

            &::before {
                background-color: transparent;
                transition: 0s;
            }

            .link_btn {
                .link_btn_icon {
                    background-color: $white;
                    color: $disabled;
                    transition: 0s;
                }
            }

            &:hover {
                transform: scale(0.9);
            }

            &:focus {
                border: 2px solid transparent;
                box-shadow: none;
            }
        }
    }

    .decorate_area{
        width: 100%;
        height: 100vh;
        display: none;
        position:fixed;
        .decorate_line {
            position: fixed;
            z-index: 1;
            width: 8%;
            &.decorate_right {
                top: 0px;
                right: 0;
            }
            &.decorate_left {
                bottom: 0px;
                left: 0;
            }
        }
    }
}

@media screen and (min-width: 576px){
    main{
        .link_btn_area {
            .link_btn {
                .link_btn_text {
                    width: calc(95% - 40px);
                }

                .link_btn_icon {
                    margin: 0 auto ;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    main{
        .decorate_area{
            display: block;
        }
    }
}



@media screen and (min-width: 992px){
    main {
        .starquiz_logo {
            margin: 30px auto 50px;
        }

        .link_btn_area {
            margin: 60px auto;
        }
    }
}