main {
    .answer_area {
        .description_area {
            margin: 0px auto 60px;

            .description_area_instructions {
                margin-top: 10px;
            }
        }

        .topic_area {
            padding: 20px;    

            .topic {
                display: flex;
                margin-bottom: 20px;

                .topic_number {
                    margin-right: 10px;
                }

                .topic_img {
                    width: 90%;
                    max-width: 440px;
                }
            }

            .answer_list {
                display: flex;
                flex-wrap: wrap;
                padding-left: 30.38px;

                .form-check {
                    padding-left: 0;
                    margin: 5px 0px;
                    background: $color-main-grayLight;
                    padding: 10px;
                    border-radius: 10px;
                    border: 2px solid $color-main-grayLight;

                    &.check {
                        background-color: transparent;
                        border: 2px solid $color-main;
                    }

                    .form-check-input {
                        width: 14px;
                        height: 14px;
                        margin-top: calc(14px * 0.7 / 2);
                        margin-left: 0;
                        margin-right: 5px;
                        border: 1px solid $color-default-gray;
                        cursor: pointer;

                        &~label {
                            cursor: pointer;
                        }

                        &:checked {
                            background: radial-gradient($color-main 0%, $color-main 40%, transparent 50%, transparent);
                            border-color: $color-main;

                            ~label {
                                color: $color-main;
                            }
                        }

                        &:checked[type=radio] {
                            background-image: transparent;
                        }

                        &:focus {
                            box-shadow: none;
                        }

                        &[disabled],
                        &:disabled{
                            opacity: 1.0;
                            cursor: default;
                            ~.form-check-label{
                                opacity: 1.0;
                            }
                            ~label {
                                cursor: default;
                            }
                        }
                    }

                    .form-check-label {
                        width: calc(100% - 14px - 5px);
                        display: flex;
                        align-items: flex-start;

                        .answer_options{
                            margin-right: 5px;
                        }

                    }
                }
            }

            &.multiple_choice_image {
                .answer_list {
                    .form-check {
                        width: 100%;

                        .form-check-input {
                            margin-top: 0;
                        }

                        .form-check-label {
                            line-height: 1;

                            ruby {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            &.example_topic{
                border: 2px solid $color-main;
                border-radius: 10px;
            }
        }

        .next_page{
            display: flex;
            justify-content: center;
            margin: 30px auto;

            svg{
                background-color: $color-main;
                color: white;
                padding: 10px;
                border-radius: 50%;
            }

            &:hover{
                svg{
                    background-color: darken($color-main, 10%);
                }
            }
        }
    }
}


@media screen and (min-width: 576px) {
    main {
        .answer_area {
            .topic_area {

                &.multiple_choice_image {
                    .answer_list {
                        .form-check {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .answer_area {
            .topic_area {

                .answer_list {
                    padding-left: 31.23px;

                    .form-check {
                        margin: 10px 0px;
                        border: 4px solid $color-main-grayLight;

                        &.check {
                            border: 4px solid $color-main;
                        }
    
                        .form-check-input {
                            width: 15px;
                            height: 15px;
                            margin-top: calc(15px * 0.7 / 2);
                        }
    
                        .form-check-label {
                            width: calc(100% - 15px - 5px);
    
                        }
                    }
                }

                &.example_topic{
                    border: 4px solid $color-main;    
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .answer_area {
            .topic_area {

                .answer_list {
                    padding-left: 32.97px;

                    .form-check {
    
                        .form-check-input {
                            width: 17px;
                            height: 17px;
                            margin-top: calc(17px * 0.7 / 2);
                        }
    
                        .form-check-label {
                            width: calc(100% - 17px - 5px);
    
                        }
                    }
                }

                &.multiple_choice_image {
                    .answer_list {
                        .form-check {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .answer_area {
            .topic_area {

                .answer_list {

                    .form-check {

                        .form-check-input {
                            width: 19px;
                            height: 19px;
                            margin-top: calc(19px * 0.7 / 2);
                        }
    
                        .form-check-label {
                            width: calc(100% - 19px - 5px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        .answer_area {
            .topic_area {

                .answer_list {
                    padding-left: 36.44px;

                    .form-check {

                        .form-check-input {
                            width: 20px;
                            height: 20px;
                            margin-top: calc(20px * 0.7 / 2);
                        }
    
                        .form-check-label {
                            width: calc(100% - 20px - 5px);
                        }
                    }
                }
            }
        }
    }
}