header{
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 0px;

    .header_logo{
        width: 40%;
        max-width: 350px;
    }
}

@media screen and (min-width: 576px) {
  header{
    .header_logo{
        width: 45%;
    }
}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
    header{
        border-bottom: 1px solid $main_color;
        padding: 20px 5% 20px;
        background-color: $header_bg;
    }
}