$header_bg: #f1f1ff;
$color-header-bg:		#f1f1ff; /*rgb(241, 241, 255)*/
$body_bg: #fff4ee;
$test_bg: #f3e6f5;

/*main*/
$main_color:             #552b8d;
$main_color_brown:	  	 #58391C;
$main_color_grey:	  	 #20221f;

/*transparency*/
$main_color_40:#552b8d40;
$main_color_30:#552b8d30;
$main_color_25:#552b8d25;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;

/*purple*/
$bright_purple:#7b2cbf;
$light_purple:#E6BBFF;
$dark_purple:#240046;

/*btn*/
$mic_color:#da1362;
$play_color:#f5c312;
$next_color:#2b9ea1;
$sound_color:#FF6E3C;