body {
    background-color: $body_bg;
}

main {
    .main{
        max-width: 1200px;
    }
    .input_area {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        position: relative;

        input {
            &:read-only {
                border: 0px solid $main_color_grey;
                border-bottom: 1px solid $main_color_grey;
                border-radius: 0;
                background-color: transparent;
                cursor: auto;

                &:focus {
                    border: 0px solid $main_color_grey;
                    border-bottom: 1px solid $main_color_grey;
                    color: $main_color_grey;
                    box-shadow: none;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        &.input-group-submit {
            .button {
                display: block;
                width: 100%;
                max-width: 500px;
                border-radius: 50px;
                border: 1px solid $bright_green;
                border-radius: 5px;
                margin: 30px auto;
                cursor: pointer;

                &.solid_color {
                    background-color: $bright_green;
                    color: $white;

                    &:hover {
                        transform: scale(1.05);
                        background-color: darken($bright_green, 5%);
                    }
                }

                &:focus{
                    border-bottom: 0;
                }
                
            }
        }
    }

    .button {
        display: block;
        padding: 8px 10px;
        width: 100%;
        max-width: 500px;
        border-radius: 50px;
        border: 1px solid $bright_green;
        margin: 30px auto;

        p{
            font-weight: 500;
        }

        &.solid_color {
            background-color: $bright_green;
            color: $white;

            &:hover {
                transform: scale(1.05);
                background-color: darken($bright_green, 5%);
            }
        }

        &.line_color {
            color: $main_color;

            &:hover {
                color: $white;
                background-color: $main_color;
            }
        }

        &.button_register {
            margin: 0px auto;
        }
    }

    .slide_area{
        position: relative;
        .slide_img{
        }
        .slide_text{
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 5%;
            transform: translate(0 , -20px);
            h3{
                color: $white;
            }
        }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: 1px solid $main_color_grey;
    -webkit-text-fill-color: $main_color_grey;
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
}

@keyframes progress {
    0% {
      background-position: 0 0
    }
    100% {
      background-position: 1rem 0
    }
  }

@media screen and (min-width: 515px) {
    main {
    }
}

@media screen and (min-width: 576px) {
    main {
    }
}

@media screen and (min-width: 768px) {
    main {
        .button {
            padding: 12px 20px;
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1400px) {}