@charset "UTF-8";
/*rgb( 85, 43,141)*/
/*main*/
/*rgb( 85, 43,141)*/
/*rgb(255, 81, 81)*/
/*rgb(247,248,248)*/
/*rgb( 46, 50, 51)*/
/*rgb( 92,100,102)*/
/*rgb(  0,102,204)*/
/*rgb(  0,176,263)*/
/*rgb(228,201, 52)*/
/*rgb(153,153,204)*/
/*other*/
/*rgb( 20,168, 59)*/
/*rgb(219, 96, 14)*/
/*rgb(243,160,125)*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
}

h3 {
  font-size: 21px;
  line-height: 1.7;
  color: #552b8d;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  color: #552b8d;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #5c6466;
}

span,
th,
td {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #5c6466;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #5c6466;
}

ruby {
  letter-spacing: 1.8px;
  line-height: 3;
}

rt {
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
  color: #5c6466;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  opacity: 0.5;
  cursor: auto;
}

*,
body {
  font-family: 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei',  'PingFang TC', 'PingFang SC',  'Heiti TC', 'Heiti SC',  'LiHei Pro','STXihei', sans-serif;
  letter-spacing: 1.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #f7f8f8;
}

.cursor {
  cursor: pointer;
}

.color_main {
  color: #552b8d;
}

.text_center {
  text-align: center;
}

/* Using Font Awesome 6 Icons CSS Pseudo-elements 開始 */
.icon::before {
  display: none;
}

.icon-solid::before {
  font: var(--fa-font-solid);
}

.icon-regular::before {
  font: var(--fa-font-regular);
}

.icon-light::before {
  font: var(--fa-font-light);
}

.icon-duotone::before {
  font: var(--fa-font-duotone);
}

.icon-brands::before {
  font: var(--fa-font-brands);
}

/* Using Font Awesome 6 Icons CSS Pseudo-elements 結束 */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  p {
    font-size: 15px;
  }
  span,
  th,
  td {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
  label {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 23px;
  }
  p {
    font-size: 17px;
  }
  span,
  th,
  td {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
  label {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 19px;
  }
  span,
  th,
  td {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
  label {
    font-size: 19px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 27px;
  }
  p {
    font-size: 20px;
  }
  span,
  th,
  td {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  input,
  label {
    font-size: 20px;
  }
}

.form-label {
  margin-bottom: 0;
}

body {
  font-family: 'Noto Sans SC', 'Microsoft JhengHei',  'Noto Sans TC', 'Microsoft YaHei',  'PingFang TC', 'PingFang SC',  'Heiti TC', 'Heiti SC',  'LiHei Pro','STXihei', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5% 0px;
}

header .header_logo {
  width: 60%;
  max-width: 350px;
}

header .quiz_progress_area {
  color: #552b8d;
}

header .quiz_progress_area .quiz_progress_title {
  text-align: center;
  margin-bottom: 5px;
}

header .quiz_progress_area .quiz_progress {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

header .quiz_progress_area .quiz_progress .quiz_progress_value {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .quiz_progress_area .quiz_progress svg {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotateY(-180deg);
          transform: translate(-50%, -50%) rotateY(-180deg);
  overflow: initial;
}

header .quiz_progress_area .quiz_progress svg .quiz_progress_background {
  fill: none;
  stroke: #bda2e2;
  stroke-width: 2px;
}

header .quiz_progress_area .quiz_progress svg .quiz_progress_bar {
  fill: none;
  stroke: #552b8d;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  -webkit-transition: stroke-dashoffset 1s ease-in-out;
  transition: stroke-dashoffset 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  header .header_logo {
    width: 45%;
  }
  header .quiz_progress_area .quiz_progress {
    width: 100px;
    height: 100px;
  }
  header .quiz_progress_area .quiz_progress .quiz_progress_value {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    border-bottom: 1px solid #552b8d;
    padding: 20px 5% 20px;
  }
}

/*pages*/
main .quiz_area .quiz_area_top {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .quiz_area .answer_area {
  margin: 40px auto;
  padding: 15px 2.5%;
  max-width: 1200px;
}

main .quiz_area .answer_area .answer_area_instructions {
  margin-bottom: 30px;
}

main .quiz_area .answer_area .player_area {
  background-color: #d2d5d6;
  margin-bottom: 20px;
  width: 100%;
}

main .quiz_area .answer_area .player_area .fa-play,
main .quiz_area .answer_area .player_area .fa-volume-high {
  color: #5c6466;
}

main .quiz_area .answer_area .player_area label {
  color: #5c6466;
}

main .quiz_area .answer_area .player_area .sound_area {
  background-color: #eceeee;
  position: relative;
}

main .quiz_area .button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

main .quiz_area .button_area a {
  color: #f7f8f8;
  padding: 3px 20px;
  border-radius: 10px;
  background-color: #552b8d;
}

main .quiz_area .button_area a:hover {
  background-color: #3d1f66;
}

main .player_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  background-color: #cbb5e8;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  /* input range 主體樣式 */
  /* input range 播放樣式 */
  /* input range 聲音樣式 */
}

main .player_area .play_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

main .player_area .play_area label {
  margin-right: 10px;
  color: #552b8d;
}

main .player_area .play_area .fa-play {
  margin-right: 10px;
}

main .player_area .sound_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 165px;
  padding: 5px 10px;
  background-color: #e7dcf4;
  border-radius: 50px;
}

main .player_area .sound_area .icon_volume {
  margin-right: 10px;
}

main .player_area .sound_area .fa-volume-high {
  margin-right: 10px;
}

main .player_area .form-range {
  width: 80%;
}

main .player_area input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  /* input range 原點focus */
  /* input range 移動距離 */
  /* input range 原點樣式 */
  /* input range 進度條樣式 */
}

main .player_area input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #3d1f66;
}

main .player_area input[type="range"]:before {
  position: absolute;
  content: "";
  width: var(--playRange);
  height: 100%;
  background-color: #552b8d;
  border-radius: 10px;
}

main .player_area input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: #552b8d;
  z-index: 1;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 50%;
}

main .player_area input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f7f8f8;
  height: 5px;
  border-radius: 10px;
}

main .player_area input[name="playRange"] {
  margin-top: 15px;
}

main .player_area input[name="soundRange"]:hover ~ .icon_hand_pointer {
  opacity: 0;
}

main .player_area input[name="soundRange"]:before {
  position: absolute;
  content: "";
  width: var(--soundRange);
  height: 100%;
  background-color: #f7f8f8;
  border-radius: 10px;
  right: 0;
}

main .player_area input[name="soundRange"]::-webkit-slider-runnable-track {
  background-color: #552b8d;
  height: 5px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  main .quiz_area .answer_area {
    padding: 30px 2.5%;
  }
}

@media screen and (min-width: 992px) {
  main .player_area {
    /* input range 播放樣式 */
  }
  main .player_area .play_area {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .player_area input[name="playRange"] {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  main .quiz_area .quiz_area_top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .player_area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px 20px;
  }
  main .player_area .play_area {
    margin-bottom: 0px;
  }
}

main .answer_area .player_area {
  margin: 20px auto;
}

main .player_area {
  /* input range 示意圖播放樣式 */
  /* input range 示意圖聲音樣式 */
  /* 調整聲音動態 */
  /* 音檔進度動態 */
}

main .player_area .sound_area {
  position: relative;
}

main .player_area .sound_area .icon_hand_pointer {
  position: absolute;
  right: calc(50% - 10px);
  top: 50%;
  z-index: 1;
  color: #5c6466;
  -webkit-animation: adjustment_hand_point_example 3s ease-in infinite;
          animation: adjustment_hand_point_example 3s ease-in infinite;
}

main .player_area input[name="playRangeSchematic"] {
  cursor: auto;
  margin-top: 15px;
  /* input range 假原點樣式 */
  /* input range 原點樣式 */
}

main .player_area input[name="playRangeSchematic"]:before {
  width: 50%;
  background-color: #5c6466;
}

main .player_area input[name="playRangeSchematic"]::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5c6466;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .player_area input[name="playRangeSchematic"]::-webkit-slider-thumb {
  display: none;
}

main .player_area input[name="soundRangeSchematic"] {
  cursor: auto;
  /* input range 假原點樣式 */
  /* input range 原點樣式 */
}

main .player_area input[name="soundRangeSchematic"]:before {
  width: 35%;
  background-color: #f7f8f8;
  right: 0;
}

main .player_area input[name="soundRangeSchematic"]::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5c6466;
  right: 35%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

main .player_area input[name="soundRangeSchematic"]::-webkit-slider-thumb {
  display: none;
}

main .player_area input[name="soundRangeSchematic"]::-webkit-slider-runnable-track {
  background-color: #5c6466;
}

main .player_area .animation_sound_example:before {
  -webkit-animation: adjustment_progress_example 3s ease-in infinite;
          animation: adjustment_progress_example 3s ease-in infinite;
}

main .player_area .animation_sound_example::after {
  -webkit-animation: adjustment_point_example 3s ease-in infinite;
          animation: adjustment_point_example 3s ease-in infinite;
}

main .player_area .animation_play_example:before {
  -webkit-animation: adjustment_progress_example 3s ease-in infinite;
          animation: adjustment_progress_example 3s ease-in infinite;
}

main .player_area .animation_play_example::after {
  -webkit-animation: adjustment_point_example 3s ease-in infinite;
          animation: adjustment_point_example 3s ease-in infinite;
}

@-webkit-keyframes adjustment_progress_example {
  0% {
    width: 45%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

@keyframes adjustment_progress_example {
  0% {
    width: 45%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

@-webkit-keyframes adjustment_point_example {
  0% {
    right: 45%;
  }
  50% {
    right: 0%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    right: 45%;
  }
}

@keyframes adjustment_point_example {
  0% {
    right: 45%;
  }
  50% {
    right: 0%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    right: 45%;
  }
}

@-webkit-keyframes adjustment_hand_point_example {
  0% {
    right: calc(50% - 10px);
  }
  50% {
    right: 10px;
  }
  100% {
    right: calc(50% - 10px);
  }
}

@keyframes adjustment_hand_point_example {
  0% {
    right: calc(50% - 10px);
  }
  50% {
    right: 10px;
  }
  100% {
    right: calc(50% - 10px);
  }
}

@media screen and (min-width: 992px) {
  main .player_area {
    /* input range 示意圖播放樣式 */
  }
  main .player_area input[name="playRangeSchematic"] {
    margin-top: 0px;
  }
}

/*聲音說明頁*/
main .answer_area .description_area {
  margin: 0px auto 60px;
}

main .answer_area .description_area .description_area_instructions {
  margin-top: 10px;
}

main .answer_area .topic_area .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main .answer_area .topic_area .topic .topic_number {
  margin-right: 10px;
}

main .answer_area .topic_area .topic .topic_img {
  width: 90%;
  max-width: 440px;
}

main .answer_area .topic_area .answer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30.38px;
}

main .answer_area .topic_area .answer_list .form-check {
  padding-left: 0;
  margin-bottom: 25px;
}

main .answer_area .topic_area .answer_list .form-check .form-check-input {
  width: 14px;
  height: 14px;
  margin-top: calc(14px * 0.7 / 2);
  margin-left: 0;
  margin-right: 5px;
  border: 1px solid #5c6466;
}

main .answer_area .topic_area .answer_list .form-check .form-check-input:checked {
  background: radial-gradient(#552b8d 0%, #552b8d 40%, transparent 50%, transparent);
  border-color: #552b8d;
}

main .answer_area .topic_area .answer_list .form-check .form-check-input:checked ~ label {
  color: #552b8d;
}

main .answer_area .topic_area .answer_list .form-check .form-check-input:checked[type=radio] {
  background-image: transparent;
}

main .answer_area .topic_area .answer_list .form-check .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .answer_area .topic_area .answer_list .form-check .form-check-label {
  width: calc(100% - 14px - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .answer_area .topic_area .answer_list .form-check .form-check-label .answer_options {
  margin-right: 5px;
}

main .answer_area .topic_area.multiple_choice_image .answer_list .form-check {
  width: 100%;
}

main .answer_area .topic_area.multiple_choice_image .answer_list .form-check .form-check-input {
  margin-top: 0;
}

main .answer_area .topic_area.multiple_choice_image .answer_list .form-check .form-check-label {
  line-height: 1;
}

main .answer_area .topic_area.multiple_choice_image .answer_list .form-check .form-check-label ruby {
  margin-right: 5px;
}

@media screen and (min-width: 576px) {
  main .answer_area .topic_area.multiple_choice_image .answer_list .form-check {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  main .answer_area .topic_area .answer_list {
    padding-left: 31.23px;
  }
  main .answer_area .topic_area .answer_list .form-check {
    margin-bottom: 50px;
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-input {
    width: 15px;
    height: 15px;
    margin-top: calc(15px * 0.7 / 2);
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-label {
    width: calc(100% - 15px - 5px);
  }
}

@media screen and (min-width: 992px) {
  main .answer_area .topic_area .answer_list {
    padding-left: 32.97px;
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-input {
    width: 17px;
    height: 17px;
    margin-top: calc(17px * 0.7 / 2);
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-label {
    width: calc(100% - 17px - 5px);
  }
  main .answer_area .topic_area.multiple_choice_image .answer_list .form-check {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  main .answer_area .topic_area .answer_list .form-check .form-check-input {
    width: 19px;
    height: 19px;
    margin-top: calc(19px * 0.7 / 2);
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-label {
    width: calc(100% - 19px - 5px);
  }
}

@media screen and (min-width: 1400px) {
  main .answer_area .topic_area .answer_list {
    padding-left: 36.44px;
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-input {
    width: 20px;
    height: 20px;
    margin-top: calc(20px * 0.7 / 2);
  }
  main .answer_area .topic_area .answer_list .form-check .form-check-label {
    width: calc(100% - 20px - 5px);
  }
}

/*測驗說明頁*/
/*# sourceMappingURL=CCCDstyles.css.map */