$body_bg: #f7f8f8;
$header_bg: #f1f1ff; /*rgb(241, 241, 255)*/
$white: #fff;
$black: #000;
$grey: #595757;
$main_color: #324774;
// $light_main_color: #45bbbd;
// $dark_main_color: #324774;
$light_main_color: #759cf3;
$dark_main_color: #293c65;
$first_item_color: #2783be;
$two_item_color: #d4655c;
$three_item_color: #e1b539;
$four_item_color: #3f9979;
$five_item_color: #675f91;
$chartbar_color: #f7ae00;
$frame_effect_bg: #f3e6f5;
