$header_bg: #e8efff;
$color-header-bg:		#e8efff; /*rgb(241, 241, 255)*/
// $body_bg: #b0ffff;
$body_bg: #f9df54;
$test_bg: #f6f4f3;

/*main*/
$main_color:             #314675;
$bright_main_color:      #4dbcbc;
$main_color_brown:	  	 #58391C;
$main_color_grey:	  	 #20221f;
$main_color_green:       #38ac61;
$main_color_orange:      #db600e;
$main_color_yellow:      #fcc601;



/*transparency*/
$main_color_40:#552b8d40;
$main_color_30:#552b8d30;
$main_color_25:#552b8d25;

/*other*/
$white:#fff;
$black: #000;
$grey: #ddd;
$disabled: #ADADAD;
$robot_grey: #dcdcd6;
$dialog_box_bg: #efefef;
$dialog_box_border: #d7d7d7;
$text_black: #333;