main {
    .input_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        position: relative;

        input {
            &:read-only {
                border: 0px solid $main_color_grey;
                // border-bottom: 1px solid $main_color_grey;
                border-radius: 0;
                background-color: transparent;
                cursor: auto;

                &:focus {
                    border: 0px solid $main_color_grey;
                    // border-bottom: 1px solid $main_color_grey;
                    // color: $main_color_grey;
                    box-shadow: none;
                    outline: none;

                    &::placeholder {
                        color: transparent;
                    }

                    &~.icon_item {
                        i {
                            color: $main_color_grey;
                        }
                    }
                }

                &.solid_color {
                    background-color: $main_color;
                    color: $white;

                    &:hover {
                        transform: scale(1.05);
                        background-color: darken($main_color, 5%);
                    }
                }
            }
        }

        .form-control {
            text-align: left;
            border-radius: 5px;
            margin-left: 0px !important;
            padding: 10px 15px;
            border: 1px solid $main_color;
            color: $main_color;
            width: 100%;
            position: relative;

            &.form-control-gender {
                display: flex;

                .radio-item {
                    margin: 0 20px 0 0;

                    label {
                        display: flex;
                        align-items: center;
                        color: $main_color_grey;
                        font-weight: normal;
                        position: relative;
                        cursor: pointer;

                        &:before {
                            content: " ";
                            display: inline-block;
                            top: 0;
                            margin: 0 8px 0 0;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            position: relative;
                            border: 2px solid $main_color_grey;
                        }
                    }

                    input[type="radio"] {
                        display: none;

                        &:checked {
                            &+label {
                                color: $main_color;

                                &:before {
                                    border: 2px solid $main_color;
                                    background: radial-gradient($main_color 0%, $main_color 40%, transparent 50%, transparent);
                                }
                            }
                        }
                    }
                }
            }

            &.form-control-birthday {
                // input{
                //     &::-webkit-datetime-edit-text,
                //     &::-webkit-datetime-edit-day-field,
                //     &::-webkit-datetime-edit-month-field,
                //     &::-webkit-datetime-edit-year-field {
                //         display: none;
                //     }
                // }


                i {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translate(0, -50%);
                    color: $main_color_grey;
                }

                .birthday_input {
                    color: $main_color_grey;
                    width: 100%;
                    outline: 0;
                    background-color: transparent !important;
                    position: relative;
                    z-index: 1;

                    &::-webkit-date-and-time-value {
                        text-align: left;
                    }

                    &:valid {
                        border: 0;
                    }

                    &:required:invalid {
                        &::-webkit-datetime-edit {
                            color: transparent;
                        }
                    }

                    &::-webkit-calendar-picker-indicator {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    &:focus {

                        &~i {
                            color: $main_color;
                        }

                        &::-webkit-datetime-edit-text,
                        &::-webkit-datetime-edit-day-field,
                        &::-webkit-datetime-edit-month-field,
                        &::-webkit-datetime-edit-year-field {
                            background-color: $main_color;
                            color: $white;
                            border: 0px;
                        }
                    }

                }
            }

            &::placeholder {
                color: $main_color_grey;
            }

            &:focus {
                position: relative;
                z-index: 3;
                outline: none;
                border: 1px solid $bright_main_color;
                @extend %boxShadow;
                color: $main_color;

                &::placeholder {
                    color: transparent;
                }
            }

            // &:read-only {
            //     border: 0px solid $main_color_grey;
            //     border-bottom: 1px solid $main_color_grey;
            //     border-radius: 0;
            //     background-color: transparent;
            //     cursor: auto;

            //     &:focus {
            //         border: 0px solid $main_color_grey;
            //         border-bottom: 1px solid $main_color_grey;
            //         color: $main_color_grey;
            //         box-shadow: none;

            //         &::placeholder {
            //             color: transparent;
            //         }
            //     }
            // }

        }

        .input-group-text {
            position: absolute;
            background-color: transparent;
            border: 0px;
            padding: 5px 15px;
            border-radius: 0;

            &.icon_item {
                width: 57.5px;
                display: flex;
                justify-content: center;
                cursor: pointer;
                border-right: 1px solid $main_color_grey;

                i {
                    color: $main_color_grey;
                }
            }

            &.icon_eye {
                right: 0;
                cursor: pointer;

                &:focus {
                    &~.form-control {
                        border-color: transparent;
                        box-shadow: none;
                        color: $main_color;
                        outline: solid calc(1em * 2 / 16) rgba($main_color, .6);

                    }
                }
            }
        }

        .input-group-label {
            padding: 10px 15px;
            color: $main_color;
            width: 100%;
            font-weight: bold;
        }

        .radio-inline {
            display: flex;
            align-items: center;
            color: $main_color_grey;
            font-weight: normal;
            position: relative;
            cursor: pointer;
            padding: 10px 15px;

            &:before {
                content: " ";
                display: inline-block;
                top: 0;
                margin: 0 8px 0 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: relative;
                border: 2px solid $main_color_grey;
            }

            &:has(input:read-only) {
                color: $main_color_grey;

                &:before {
                    border: 2px solid $main_color_grey;
                }

                &:hover{
                    color: $bright_main_color;
                    &:before {
                        border: 2px solid $bright_main_color;
                    }
                }
            }

            &:has(input:checked) {
                color: $bright_main_color;
                cursor: pointer;

                &:before {
                    border: 2px solid $bright_main_color;
                    background: radial-gradient($bright_main_color 0%, $bright_main_color 40%, transparent 50%, transparent);
                }
            }

            &:hover{
                color: $bright_main_color;
            }

            input[type="radio"] {
                display: none;

                &:checked {
                    &+label {
                        color: $bright_main_color;

                        &:before {
                            border: 2px solid $bright_main_color;
                            background: radial-gradient($bright_main_color 0%, $bright_main_color 40%, transparent 50%, transparent);
                        }
                    }
                }
            }
        }

        .form-control {
            // padding: 10px 45px 10px 62.5px;
            // border-radius: 5px;
            // border-color: $grey;

            .icon_down {
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                transition: 0.3s;
            }

            &:focus {
                border-color: transparent;
                box-shadow: none;
                color: $main_color;
                outline: solid calc(1em * 2 / 16) rgba($main_color, 1);

                &~.icon_item {
                    i {
                        color: $main_color;
                    }
                }

                p {
                    color: $main_color !important;
                }
            }

            &.show {
                .icon_down {
                    transform: translate(0, -50%) rotate(180deg);
                    color: $main_color;
                }
            }

            &::placeholder {
                color: $grey;
                opacity: 1;
                /* Firefox */
            }

            &::-ms-input-placeholder {
                /* Edge 12 -18 */
                color: $grey;
            }

            &.form-control-birthday {
                padding: 0;
                // input{
                //     &::-webkit-datetime-edit-text,
                //     &::-webkit-datetime-edit-day-field,
                //     &::-webkit-datetime-edit-month-field,
                //     &::-webkit-datetime-edit-year-field {
                //         display: none;
                //     }
                // }


                i {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translate(0, -50%);
                    color: $main_color_grey;
                }

                .birthday_input {
                    color: $grey;
                    width: 100%;
                    outline: 0;
                    background-color: transparent !important;
                    position: relative;
                    z-index: 1;
                    padding: 10px 0 10px 62.5px;

                    &::-webkit-date-and-time-value {
                        text-align: left;
                    }

                    &:valid {
                        border: 0;
                    }

                    &:required:invalid {
                        &::-webkit-datetime-edit {
                            color: transparent;
                        }
                    }

                    &::-webkit-calendar-picker-indicator {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    &:focus {
                        &~i {
                            color: $main_color;
                        }

                        &~.icon_item {
                            i {
                                color: $main_color;
                            }
                        }

                        &::-webkit-datetime-edit-text,
                        &::-webkit-datetime-edit-day-field,
                        &::-webkit-datetime-edit-month-field,
                        &::-webkit-datetime-edit-year-field {
                            background-color: $main_color;
                            color: $white;
                            border: 0px;
                        }
                    }

                }

                .input-group-text {
                    left: 0;
                    top: 50%;
                    transform: translate(0px, -50%);

                    &.icon_item {
                        i {
                            position: initial;
                            transform: translate(0, 0);
                        }
                    }
                }

                &:read-only {
                    border: 0px solid $main_color_grey;
                    border-bottom: 1px solid $main_color_grey;
                    border-radius: 0;
                    background-color: transparent;
                    cursor: auto;

                    .birthday_input {

                        &::-webkit-datetime-edit-text,
                        &::-webkit-datetime-edit-day-field,
                        &::-webkit-datetime-edit-month-field,
                        &::-webkit-datetime-edit-year-field {
                            color: $main_color_grey;
                        }

                        &:focus {
                            &~i {
                                color: $main_color_grey;
                            }

                            &~.icon_item {
                                i {
                                    color: $main_color_grey;
                                }
                            }

                            &::-webkit-datetime-edit-text,
                            &::-webkit-datetime-edit-day-field,
                            &::-webkit-datetime-edit-month-field,
                            &::-webkit-datetime-edit-year-field {
                                background-color: transparent;
                                color: $main_color_grey;
                            }
                        }

                    }
                }
            }

            p {
                color: $grey;
                text-align: left;
            }
        }

        // &.input-group-submit {
        //     .button {
        //         display: block;
        //         width: 100%;
        //         max-width: 500px;
        //         border-radius: 50px;
        //         border: 1px solid $main_color;
        //         border-radius: 5px;
        //         margin: 0px auto;
        //         cursor: pointer;
        //     }

        //     .input-group-submit-btn{
        //         padding: 8px 30px;
        //         margin: 0px auto;
        //         border-radius: 50px;
        //         border: 1px solid $main_color;
        //         color: $main_color;
        //         background-color: $white;

        //         &:hover{
        //             background-color: $main_color;
        //             color: $white;
        //         }
        //     }
        // }

        .password_input {
            width: 100%;
        }

        .dropdown-menu {
            width: calc(100% - 62.5px);
            border-radius: 5px;
            // inset: 0px 0 auto auto !important;
            padding: 0;
            overflow: hidden;

            li {
                cursor: pointer;
                    padding: 20px;

                    &:hover {
                        background-color: $main_color;
                        color: $white;
                    }

                    &.check {
                        background-color: $main_color;
                        color: $white;
                    }
                

            }
        }
    }

    .button {
        display: block;
        padding: 8px 10px;
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        border: 1px solid $main_color;
        margin: 30px auto;

        p {
            font-weight: 500;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;

        .page-numbers {
            font-size: 13px;
            padding: 3px;
            margin: 3px;
            color: $main_color_grey;
            border-radius: 3px;
            cursor: pointer;

            .fa-solid {
                font-size: 13px;
            }

            &.current {
                background-color: $bright_main_color;
                color: $white;
                padding: 3px 5px;

                &:hover {
                    color: $white;
                }
            }

            &.dots {
                cursor: auto;

                &:hover {
                    color: $main_color_grey;
                }
            }

            &:hover {
                color: $main_color;
            }
        }

        .page-numbers-area {
            display: flex;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: 1px solid $main_color_grey;
    -webkit-text-fill-color: $main_color_grey;
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
}


@media screen and (min-width: 500px) {
}

@media screen and (min-width: 576px) {
    main {
        .pagination {
            .page-numbers {
                .fa-solid {
                    margin: 0 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .input_area {
            .input-group-label {
                width: 20%;
            }
        }

        .button {
            padding: 12px 20px;
        }

        .pagination {
            margin: 50px auto;

            .page-numbers {
                font-size: 15px;
                margin: 5px;
                padding: 5px;

                .fa-solid {
                    font-size: 15px;
                }

                &.current {
                    padding: 8px 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .pagination {

            .page-numbers {
                font-size: 20px;
                margin: 8px;
                padding: 8px;

                .fa-solid {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}