@charset "UTF-8";
/*rgb(241, 241, 255)*/
/*main*/
/*transparency*/
/*other*/
body {
  font-family: "Noto Sans TC", "PingFang TC", "微軟正黑體", "蘋果儷中黑", "sans-serif", Arial;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 35px;
  line-height: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

p,
i {
  font-size: 16px;
  line-height: 1.7;
}

span,
th,
td,
.form-control {
  font-size: 16px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 16px;
  text-decoration: none;
  line-height: 1.7;
}

ruby {
  letter-spacing: 1.8px;
  word-break: break-word;
  margin: 2px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

input,
label {
  font-size: 16px;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button,
.btn {
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: auto !important;
}

*,
body {
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.cursor {
  cursor: pointer;
}

::-moz-selection {
  background: #1a263f;
  color: #fff;
}

::selection {
  background: #1a263f;
  color: #fff;
}

.table th,
.table td {
  border-top: 0px;
  border-bottom: 0px;
}
.table thead th {
  border-bottom: 0px;
}

[aria-label] {
  position: relative;
  text-decoration: none;
}
[aria-label]:before {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
[aria-label]:hover:before {
  content: attr(aria-label);
  background-color: #314675;
  border-radius: 4px;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  opacity: 1;
  pointer-events: all;
  padding: 4px 8px;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0px);
  margin-bottom: 11px;
}
[aria-label]:hover:after {
  opacity: 1;
  pointer-events: all;
}
[aria-label]:after {
  content: "";
  position: absolute;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 24px;
  }
  p,
  i {
    font-size: 20px;
  }
  span,
  th,
  td,
  .form-control {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  input,
  label {
    font-size: 20px;
  }
  button,
  .btn {
    font-size: 20px;
  }
}
.modal .modal-dialog {
  margin: 0.5rem 10%;
}
.modal .modal-dialog .modal-content {
  border: 1px solid #20221f;
  background-color: #e5e5e5;
  box-shadow: 0px 5px 30px rgba(49, 70, 117, 0.3);
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px 30px 40px;
}
.modal .modal-dialog .modal-content .modal-body .btn-close:focus {
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-body .modal_text {
  margin: 40px auto;
}
.modal .modal-dialog .modal-content .modal-body .btn-primary {
  background-color: #20221f;
  padding: 5px 25px;
  transition: all 150ms ease-in-out;
}
.modal .modal-dialog .modal-content .modal-body .btn-primary:focus {
  box-shadow: 0 0 10px 0 #20221f inset, 0 0 10px 4px #20221f;
}

.table > :not(caption) > * > * {
  padding: 0;
  background-color: transparent;
  border-bottom-width: 0px;
  box-shadow: none;
}

@media screen and (min-width: 576px) {
  .modal .modal-dialog {
    margin: 0.5rem auto;
  }
}
header {
  background-color: #fff;
}
header .navbar {
  margin: 0 auto;
  padding: 0 5%;
  z-index: 2;
}
header .navbar .container-fluid {
  width: auto;
  padding: 15px 0;
  margin: 10px 0;
  z-index: 1;
}
header .navbar .container-fluid .navbar-brand {
  line-height: 0;
  width: 120px;
  padding: 0;
  margin: 0;
}
header .navbar .container-fluid .header_right {
  display: flex;
  align-items: center;
}
header .navbar .container-fluid .header_right .navbar-toggler {
  position: absolute;
  right: 5%;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  background-color: #314675;
}
header .navbar .container-fluid .header_right .navbar-toggler span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 3px;
  margin: 0px;
  background: #fff;
  transition: 350ms ease all;
  z-index: 5;
}
header .navbar .container-fluid .header_right .navbar-toggler span::before, header .navbar .container-fluid .header_right .navbar-toggler span::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 350ms ease all;
}
header .navbar .container-fluid .header_right .navbar-toggler span::before {
  margin: -10px 0 0 0;
}
header .navbar .container-fluid .header_right .navbar-toggler span::after {
  margin: 10px 0 0 0;
}
header .navbar .container-fluid .header_right .navbar-toggler.open span {
  background-color: rgba(0, 0, 0, 0);
}
header .navbar .container-fluid .header_right .navbar-toggler.open span::before {
  transform: rotate(45deg);
  margin: 0;
}
header .navbar .container-fluid .header_right .navbar-toggler.open span::after {
  transform: rotate(-45deg);
  margin: 0;
}
header .navbar .container-fluid .header_right .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #314675;
}
header .navbar .container-fluid .header_right .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
header .navbar .container-fluid .header_right .navbar-toggler:hover .icon-bar {
  background-color: #fff;
}
header .navbar .container-fluid .header_right .navbar-collapse {
  position: absolute;
  top: calc(100% + 20px);
  width: 95%;
  flex-grow: initial;
  right: 2.5%;
  border-radius: 15px;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: 0 2px 6px rgba(85, 43, 141, 0.2509803922);
  border: 1.5px solid #314675;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 7px 0;
  margin: 15px 0;
  color: #314675;
  font-weight: bold;
  background: linear-gradient(currentcolor, currentcolor) 100% 100%/0 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function) 0s;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #4dbcbc;
  background-position: 0 100%;
  background-size: 100% 1px;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #4dbcbc;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 10px), -50%);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4dbcbc;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown {
  position: relative;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown.show {
  color: #4dbcbc;
  background-position: 0 100%;
  background-size: 100% 1px;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown.show ~ .dropdown-content {
  display: block;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown.show ~ .dropdown-content .nav-textbook .nav-link.show {
  color: #4dbcbc;
  background-position: 0 100%;
  background-size: 100% 1px;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown-content {
  display: none;
  border-radius: 10px;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown-content .nav-item.dropdown {
  padding: 0 10px;
}
header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown-content .nav-item .dropdown-content {
  padding: 0 10px;
}

:root {
  --transition-duration: .3s;
  --transition-timing-function: cubic-bezier(.3, 1, .3, 1);
}

@media screen and (min-width: 500px) {
  header .navbar .container-fluid .navbar-brand {
    width: 150px;
  }
}
@media screen and (min-width: 576px) {
  header .navbar .container-fluid {
    margin: 10px 0;
  }
  header .navbar .container-fluid .navbar-brand {
    width: 180px;
  }
}
@media screen and (min-width: 768px) {
  header .navbar .container-fluid {
    margin: 20px 0;
  }
  header .navbar .container-fluid .navbar-brand {
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  header .navbar {
    width: 95%;
    padding: 0;
  }
  header .navbar .container-fluid {
    width: 100%;
    padding: 10px 0;
  }
  header .navbar .container-fluid .navbar-brand {
    width: 230px;
  }
  header .navbar .container-fluid .header_right .navbar-toggler {
    display: none;
  }
  header .navbar .container-fluid .header_right .navbar-collapse {
    position: relative;
    right: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-basis: auto;
    padding: 0;
    box-shadow: none;
    border: 0;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav.navbar-nav-menu {
    margin: 0 auto;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav.navbar-nav-language {
    margin: 0;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item {
    position: relative;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    top: 100%;
    left: 50%;
    transform: translate(0, 10px);
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    width: auto;
    background-color: #fff;
    min-width: 300px;
    padding: 5px 15px;
  }
  header .navbar .container-fluid .header_right .navbar-collapse .navbar-nav .nav-item .dropdown-content .dropdown-content {
    position: relative;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar .container-fluid .navbar-brand {
    width: 250px;
  }
  header .navbar .container-fluid .header_right {
    width: calc(100% - 280px);
  }
  header .navbar .container-fluid .header_right .navbar-collapse {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  header .navbar .container-fluid .navbar-brand {
    width: 350px;
  }
  header .navbar .container-fluid .header_right {
    width: calc(100% - 350px);
  }
}
footer .footer_content {
  background-color: #314675;
}
footer .footer_content .footer_information {
  padding: 20px;
  background-color: #314675;
}
footer .footer_content .footer_information .information .information_map,
footer .footer_content .footer_information .information .information_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 0;
}
footer .footer_content .footer_information .information .information_map .information_map_icon,
footer .footer_content .footer_information .information .information_map .information_mail_icon,
footer .footer_content .footer_information .information .information_mail .information_map_icon,
footer .footer_content .footer_information .information .information_mail .information_mail_icon {
  color: #fff;
  padding: 0 5px 0 0;
}
footer .footer_content .footer_information .information .information_map .information_map_icon i,
footer .footer_content .footer_information .information .information_map .information_mail_icon i,
footer .footer_content .footer_information .information .information_mail .information_map_icon i,
footer .footer_content .footer_information .information .information_mail .information_mail_icon i {
  line-height: 1.7;
}
footer .footer_content .footer_information .information .information_map a,
footer .footer_content .footer_information .information .information_mail a {
  text-align: center;
  color: #fff;
}
footer .footer_content .footer_information .information .information_map a:hover,
footer .footer_content .footer_information .information .information_mail a:hover {
  color: #4dbcbc;
}
footer .footer_content .footer_information .related_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
}
footer .footer_content .footer_information .related_logo .related_logo_item {
  width: 45%;
  margin: 10px 2.5%;
  padding: 10px 10px;
}
footer .footer_content .footer_information .products_logo {
  margin: 30px auto;
  max-width: 650px;
  margin: 0 auto;
}
footer .footer_content .footer_information .products_logo p {
  color: #fff;
}
footer .footer_content .footer_information .products_logo .products_logo_content {
  display: flex;
  flex-wrap: wrap;
}
footer .footer_content .footer_information .products_logo .products_logo_content .products_logo_item {
  width: 45%;
  margin: 10px 2.5%;
  padding: 10px 10px;
}
footer .footer_content .footer_copyright {
  display: flex;
  justify-content: center;
  margin: 40px auto 0px;
  padding: 40px 20px;
  border-top: 1px solid #fff;
  background-color: #314675;
}
footer .footer_content .footer_copyright p {
  font-size: 12px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  footer .footer_content .footer_information .products_logo .products_logo_content .products_logo_item {
    width: 30%;
    margin: 10px 1.5%;
  }
  footer .footer_content .footer_copyright p {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  footer .footer_content .footer_information .information {
    display: flex;
  }
  footer .footer_content .footer_information .information .information_map,
  footer .footer_content .footer_information .information .information_mail {
    align-items: flex-start;
    flex-direction: row;
  }
  footer .footer_content .footer_information .information .information_map a,
  footer .footer_content .footer_information .information .information_mail a {
    text-align: left;
  }
  footer .footer_content .footer_information .products_logo {
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer_content .footer_information .products_logo .products_logo_content .products_logo_item {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer_content .footer_information {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  footer .footer_content .footer_information .information {
    justify-content: center;
    margin: 40px auto;
    width: 100%;
  }
  footer .footer_content .footer_information .information .information_map,
  footer .footer_content .footer_information .information .information_mail {
    margin: 0 20px;
  }
  footer .footer_content .footer_information .related_logo {
    width: 50%;
    margin: 40px auto;
  }
  footer .footer_content .footer_information .products_logo {
    width: 50%;
    margin: 40px auto;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1600px) {
  footer .footer_content .footer_information .related_logo {
    max-width: 800px;
  }
}/*# sourceMappingURL=SmartTalking-chatbot.css.map */