.main {
    &.diagnosis {

        .tittle {
            margin: 0 auto;
            width: 80%;
        }

        .frame_effect {
            margin: 60px auto;
            padding: 60px;
            width: 80%;
            border-radius: 20px;
            background-color: $frame_effect_bg;

            .folder {
                width: 95%;
                max-width: 1400px;
                margin: 0 auto;

                canvas {
                    position: initial;
                }
            }
        }
    }

    .daccPage_chart {
        width: 100%;
        margin: 0px auto;
        background-color: $body_bg;
        padding: 20px 0 0;
        border-radius: 20px;

        &.daccPage_chart_table{
            background-color: transparent;
        }

        h3 {
            width: 100%;
            text-align: center;
        }

        .daccPage_table {
            text-align: center;
            margin: 20px auto 40px;
            
            table{
                border-radius: 20px;
            overflow: hidden;
            }

            &.table_responsive {
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    background: transparent;
                    height: 8px;
                    width: 12px;
                }

                &::-webkit-scrollbar-thumb {
                    border: none;
                    box-shadow: none;
                    background: $main_color;
                    border-radius: 4px;
                    min-height: 40px;
                }

                &::-webkit-scrollbar-track {
                    margin: 3px 0;
                }
            }

            .table {
                min-width: 1130px;
                margin: 0 auto;

                thead {
                    tr {
                        background-color: $main_color;
                        color: $white;

                        &:nth-child(1) {
                            td {

                                &:nth-child(1),
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4) {
                                    width: 10%;
                                }

                                &:nth-child(5) {
                                    height: 55px;
                                }
                            }
                        }

                        &:nth-child(2) {
                            td {
                                width: 10%;
                                height: 55px;
                                border-top: none;
                                border-right: none;
                                border-left: none;
                                padding: 5px 0px;
                                vertical-align: top;
                            }
                        }

                        td {
                            padding: 5px;
                            .dacc_icon_readinSkills {
                                font-size: 14px;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 50%;
                                color: $white;
                                vertical-align: text-bottom;
                                margin-bottom: 2px;

                                &.skill_word {
                                    background-color: $first_item_color;
                                }

                                &.skill_superficiall {
                                    background-color: $two_item_color;
                                }

                                &.skill_textual {
                                    background-color: $three_item_color;
                                }

                                &.skill_analysis {
                                    background-color: $four_item_color;
                                }
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        background-color: $body_bg;
                        color: $main_color;
                        height: 60px;

                        td {
                            padding: 5px;

                            .dacc_icon_times {
                                display: inline-block;
                                border: 1px solid $main_color;
                                width: 22px;
                                height: 22px;
                                line-height: 18px;
                                border-radius: 50%;
                            }

                            .daccPage_table_btn {
                                background-color: $main_color;
                                padding: 5px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;


                                p {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .data_page_scroll {
            overflow-x: scroll;
            margin: 20px auto 40px;

            &::-webkit-scrollbar {
                background: transparent;
                height: 8px;
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                border: none;
                box-shadow: none;
                background: $main_color;
                border-radius: 4px;
                min-height: 40px;
            }

            &::-webkit-scrollbar-track {
                margin: 3px 0;
            }

            .daccPage_chart_control {
                position: relative;
                padding: 40px 0px 0px;
                margin: 0px auto 10px;
                width: 1130px;

                canvas {
                    position: initial;
                }

                .chart_overall_x {
                    position: absolute;
                    z-index: 3;
                    bottom: -8px;
                    right: -5px;
                    font-size: 14px;
                    color: $black;
                }

                .chart_overall_y {
                    position: absolute;
                    z-index: 3;
                    top: 0px;
                    left: 0;
                    font-size: 14px;
                    color: $black;
                    text-align: left;
                    padding-left: 10px;
                }

                &.daccPage_chart_control_dimensions {
                    position: relative;
                    margin: 0 auto;
                    background-image: url(../image/report/chart_dimensions_bg.svg);
                    background-repeat: no-repeat;
                    background-position: left 60px bottom 45px;
                    background-size: calc(100% - 70px) 280px;

                    .chart_overall_x {
                        bottom: 0px;
                    }

                    .chart_dimensions_label {
                        position: absolute;
                        display: flex;
                        z-index: 1;
                        top: 0px;
                        left: 70px;
                        width: calc(100% - 70px);

                        p {
                            width: 25%;
                            text-align: center;
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
    .main {
        &.diagnosis {
            .tittle {
                width: 90%;
            }
            .frame_effect {
                width: 90%;
                padding: 35px 0px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 499px) {}