main {
    .quiz_page {
        .test_area {
            &.book_select {
                .student_data_area {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: $white;
                    margin: 0 auto 20px;
                    padding: 20px;
                    border-radius: 10px;

                    .avatar_img {
                        background-color: $main_color;
                        width: calc(60px * 1.7);
                        height: calc(60px * 1.7);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px;

                        .avatar_text {
                            h4 {
                                font-size: 60px;
                                color: $white;
                            }
                        }
                    }

                    .student_data {
                        width: calc(100% - 60px * 1.7);
                        width: 100%;
                        margin: 10px;

                        .student_data_tittle {
                            color: $main_color;
                            margin: 0 10px;
                        }

                        .student_data_content {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;

                            .student_data_content_left,
                            .student_data_content_right {
                                margin: 0 10px;
                            }

                            .student_data_item {
                                display: flex;
                                flex-wrap: wrap;
                                margin: 5px 0;

                                p {
                                    word-wrap: break-word;
                                    word-break: break-all;
                                }
                            }
                        }
                    }
                }

                .test_area_right {
                    width: 100%;
                }
            }

            .student_data_area {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                background-color: $white;
                margin: 0 auto 20px;
                padding: 20px;
                border-radius: 10px;

                .avatar_img {
                    background-color: $main_color;
                    width: calc(60px * 1.7);
                    height: calc(60px * 1.7);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;

                    .avatar_text {
                        h4 {
                            font-size: 60px;
                            color: $white;
                        }
                    }
                }

                .student_data {
                    width: calc(100% - 60px * 1.7);
                    width: 100%;
                    margin: 10px;

                    .student_data_tittle {
                        color: $main_color;
                        margin: 0 10px;
                    }

                    .student_data_content {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        .student_data_content_left,
                        .student_data_content_right {
                            margin: 0 10px;
                        }

                        .student_data_item {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 5px 0;

                            p {
                                word-wrap: break-word;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }

            .test_area_right {
                
                .test_area_content {
                    background-color: transparent;
                    border: 0px;
                    border-radius: 10px;
                    background-color: $white;
                    padding: 15px 20px;

                    .book_swiper_item_area{
                        display: flex;
                        .book_swiper_marker{
                            position: relative;
                            padding: 40px 0 60px;
                            margin: 0 auto;

                            .book_swiper_marker_inner{
                                margin: 5px 0;
                                background-color: $main-color;
                                width: calc(22px * 1.5);
                                text-align: center;
                                border-radius: 50%;
                                position: relative;
                                z-index: 1;

                                h4{
                                    color: $white;
                                }
                            }

                            &::before{
                                content: "";
                                position: absolute;
                                width: 1.5px;
                                background-color: $main-color;
                                top: 45px;
                                bottom: -60px;
                                left: 50%;
                                transform: translate(-50%, 0px);
                            }

                            &.one_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_one;
                                }

                                &::before{
                                    background-color: $color_one;
                                }
                            }

                            &.two_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_two;
                                }

                                &::before{
                                    background-color: $color_two;
                                }
                            }

                            &.three_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_three;
                                }

                                &::before{
                                    background-color: $color_three;
                                }
                            }

                            &.four_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_four;
                                }

                                &::before{
                                    background-color: $color_four;
                                }
                            }

                            &.five_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_five;
                                }

                                &::before{
                                    background-color: $color_five;
                                }
                            }

                            &.six_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_six;
                                }

                                &::before{
                                    background-color: $color_six;
                                }
                            }

                            &.seven_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_seven;
                                }

                                &::before{
                                    background-color: $color_seven;
                                }
                            }

                            &.eight_swiper_marker{
                                .book_swiper_marker_inner{
                                    background-color: $color_eight;
                                }

                                &::before{
                                    background-color: $color_eight;
                                }
                            }
                        }

                        &:nth-last-child(1){
                            .book_swiper_marker{
                                &::before{
                                    bottom: 80px;
                                }
                            }
                        }

                        .book_swiper_item{
                            position: relative;
                            margin: 40px 15px 100px;
                            width: calc(100% - calc(22px * 1.5) - 30px);
    
                            .book_classification{
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                text-align: left;
        
                                .book_classification_title {
                                    color: $main_color;
                                    margin: 5px 0;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    /*autoprefixer:off*/
                                    -webkit-box-orient: vertical;
                                    // autoprefixer:on
        
                                    .book_icon {
                                        width: 31px;
                                        height: 31px;
                                        display: inline-block;
                                        background-color: $main_color_orange;
                                        text-align: center;
                                        line-height: 31px;
                                        border-radius: 50%;
        
                                        i {
                                            color: $white;
                                        }
                                    }
                                }
        
                                p {
                                    margin: 0 0 0 8px;
                                    padding: 0 8px 0 0;
                                    border-right: 1px solid;
        
                                    &:nth-last-child(1) {
                                        border-right: 0px;
                                    }
                                }
                            }
        
                            .swiper_area {
                                width: 100%;
                                position: relative;
                                margin: 60px 0 0 0;

                                .swiper-slide{
                                    border: 2px solid $grey;
                                    border-radius: 10px;

                                    &:hover {
                                        border: 2px solid $bright_main_color;

                                        .book_select_item{
                                            .book_text{
                                                .book_text_title {
                                                    color: $bright_main_color;
                                                }
            
                                                .book_text_course{
                                                    color: $bright_main_color;
                                                }
                                            }
                                        }
                                        
                                    }

                                }
        
                                .book_select_item {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    padding: 15px;
                                    border-radius: 10px;
                                    color: $main_color;
            
                                    .book_image {
                                        margin: 0 auto 15px;
            
                                        img {
                                            border-radius: 10px;
                                        }
                                    }
            
                                    .book_text{
                                        text-align: left;
            
                                        .book_text_title {
                                            color: $main_color;
                                            margin: 5px 0;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            /*autoprefixer:off*/
                                            -webkit-box-orient: vertical;
                                            // autoprefixer:on
                                        }
            
                                        .book_text_course {
                                            color: $main_color_grey;
                                        }
                                    }
                                }
                            }

                            &.book_one_swiper_item{
                                &::after{
                                    background-color: $color_one;
                                }
                            }

                            &.book_two_swiper_item{
                                &::after{
                                    background-color: $color_two;
                                }
                            }
                            
                            &.book_three_swiper_item{
                                &::after{
                                    background-color: $color_three;
                                }
                            }
                            
                            &.book_four_swiper_item{
                                &::after{
                                    background-color: $color_four;
                                }
                            }

                            &.book_five_swiper_item{
                                &::after{
                                    background-color: $color_five;
                                }
                            }

                            &.book_six_swiper_item{
                                &::after{
                                    background-color: $color_six;
                                }
                            }

                            &.book_seven_swiper_item{
                                &::after{
                                    background-color: $color_seven;
                                }
                            }

                            &.book_eight_swiper_item{
                                margin: 40px 15px 140px;

                                &::after{
                                    background-color: $color_eight;
                                }
                            }

                            &::after{
                                content: "";
                                position: absolute;
                                width: calc(100% + 30px);
                                height: calc(50% + 60px);
                                bottom: 0px;
                                left: 0;
                                transform: translate(-15px, 60px);
                                border-radius: 0 0 10px 10px;
                            }
                        }
                    }

                    // .book_select_area {
                    //     display: flex;
                    //     flex-wrap: wrap;
                    //     margin: 0 auto;

                    //     .book_select_item {
                    //         width: 100%;
                    //         margin: 15px calc(2.5% / 2);
                    //         border: 2px solid $grey;
                    //         border-radius: 10px;
                    //         display: flex;
                    //         flex-direction: column;
                    //         padding: 15px 15px;
                    //         border-radius: 10px;
                    //         color: $main_color;

                    //         &:hover {
                    //             border: 2px solid $bright_main_color;

                    //             .book_text_title {
                    //                 color: $bright_main_color;
                    //             }
                    //         }

                    //         .book_image {
                    //             margin: 0 auto 15px;

                    //             img {
                    //                 border-radius: 10px;
                    //             }
                    //         }

                    //         .book_text {
                    //             color: $main_color_grey;
                    //         }

                    //         .book_text_title {
                    //             color: $main_color;
                    //             margin: 10px 0;
                    //             overflow: hidden;
                    //             text-overflow: ellipsis;
                    //             display: -webkit-box;
                    //             -webkit-line-clamp: 2;
                    //             /*autoprefixer:off*/
                    //             -webkit-box-orient: vertical;
                    //             // autoprefixer:on

                    //             .book_icon{
                    //                 width: 31px;
                    //                 height: 31px;
                    //                 display: inline-block;
                    //                 background-color: $main_color_orange;
                    //                 text-align: center;
                    //                 line-height: 31px;
                    //                 border-radius: 50%;

                    //                 i{
                    //                     color: $white;
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }

    .main_footer {
        margin: 40px 0 0;

        .footer_radar {
            display: flex;
            justify-content: center;

            img {
                width: 50px;
            }
        }

        .footer_logo {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .footer_logo_img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -0%);
                width: 50%;
                max-width: 350px;
            }

            .footer_svg_area {
                width: 100%;

                .footer_svg {
                    fill: $main_color;
                }
            }
        }
    }
}

.swiper {
    width: 100%;
    height: auto;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $white;
    background-color: $main_color;
    z-index: 2;
    right: 0;
    top: 0;
    margin-top: 0;
    transform: translate(0, -150%);

    &::after {
        font-size: 15px;
    }

    &:hover {
        &::before {
            display: none;
        }
    }

    &.one_swiper_next,
    &.one_swiper_prev{
        background-color: $color_one;
    }

    &.two_swiper_next,
    &.two_swiper_prev{
        background-color: $color_two;
    }

    &.three_swiper_next,
    &.three_swiper_prev{
        background-color: $color_three;
    }

    &.four_swiper_next,
    &.four_swiper_prev{
        background-color: $color_four;
    }

    &.five_swiper_next,
    &.five_swiper_prev{
        background-color: $color_five;
    }

    &.six_swiper_next,
    &.six_swiper_prev{
        background-color: $color_six;
    }

    &.seven_swiper_next,
    &.seven_swiper_prev{
        background-color: $color_seven;
    }

    &.eight_swiper_next,
    &.eight_swiper_prev{
        background-color: $color_eight;
    }
}

.swiper-button-next {
    right: 10px;
    left: auto;

    &::after {
        content: 'next';
    }
}

.swiper-button-prev {
    right: 10px;
    left: auto;
    transform: translate(calc(-100% - 10px), -150%);

    &::after {
        content: 'prev';
    }
}

@media screen and (min-width: 500px) {
    main {
        .quiz_page {
            .test_area {
                .test_area_right {

                    .test_area_content {
                        // .book_select_area {

                        //     .book_select_item {
                        //         width: 47.5%;
                        //     }
                        // }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .quiz_page {
            .test_area {
                &.book_select {
                    .student_data_area {
                        margin: 0 auto 40px;
                    }

                    .test_area_right {

                        .test_area_content {
                            // .book_select_area {

                            //     .book_select_item {

                            //         .book_text_title {
                            //             .book_icon{
                            //                 width: 35px;
                            //                 height: 35px;
                            //                 line-height: 35px;
                            //             }
                            //         }
                            //     }
                            // }
                        }
                    }
                }

                .student_data_area {
                    margin: 0 auto 40px;
                }

                .test_area_right {
                    
                    .test_area_content {

                        .book_swiper_item_area{
                            .book_swiper_marker{
                                .book_swiper_marker_inner{
                                    width: calc(35px * 1.5);

                                    h4{
                                        font-size: 35px;
                                    }
                                }
                            }

                            .book_swiper_item{
                                width: calc(100% - calc(35px * 1.5) - 30px);
                                .swiper_area{
                                    margin: 80px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main_footer {
            .footer_radar {
                img {
                    width: 80px;
                }
            }
        }
    }

    .swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;

    &::after {
        font-size: 20px;
    }
}
}

@media screen and (min-width: 992px) {
    main {
        .quiz_page {

            .test_area {
                justify-content: space-between;

                &.book_select {
                    .test_area_right {

                        .test_area_content {

                            // .book_select_area {

                            //     .book_select_item {
                            //         width: calc(33.33333% - 2.5%);
                            //     }
                            // }
                        }
                    }
                }

                .test_area_right {
                    width: 100%;

                    .test_area_right_nav {
                        margin: 0 auto 20px;

                        // ul {

                        //     .test_area_right_nav_item {
                        //         a {
                        //             padding: 3px 5px 10px;
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }

        .main_footer {
            margin: 70px 0 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        .quiz_page {
            .test_area {
                &.book_select {
                    .student_data_area {
                        .student_data {
                            width: calc(100% - 60px * 1.7 - 40px);
                        }
                    }
                }

                .student_data_area {
                    .student_data {
                        width: calc(100% - 60px * 1.7 - 40px);
                    }
                }

                .test_area_right{
                    .test_area_content{
                        
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .quiz_page {
            .test_area {
                &.book_select {
                    .test_area_right {
                        border-radius: 10px;
                        background-color: $white;
                        // border: 1px solid $main-color;

                        .test_area_content {
                            background-color: transparent;
                            border: 0px;

                            // .book_select_area {
                            //     display: flex;
                            //     flex-wrap: wrap;
                            //     margin: 0 auto;

                            //     .book_select_item {

                            //         .book_image {
                            //             margin: 0 auto 15px;

                            //             img {
                            //                 border-radius: 10px;
                            //             }
                            //         }

                            //         p {
                            //             margin: 5px 0;
                            //         }
                            //     }
                            // }
                        }
                    }
                }

                .test_area_right {

                    .test_area_content {

                        .book_swiper_item_area{
                            .book_swiper_marker{
    
                                .book_swiper_marker_inner{
                                    width: calc(40px * 1.5);
    
                                    h4{
                                        font-size: 40px;
                                    }
                                }
                            }
                            .book_swiper_item{
                                width: calc(100% - calc(40px * 1.5) - 30px);

                                .book_classification{
                                    width: calc(100% - 110px);
                                }
    
                                .swiper_area {
                                    margin: 40px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }

            .test_area {
                .test_area_right {

                    .test_area_content {

                        // .book_select_area {

                        //     .book_select_item {
                        //         width: calc(33.33333% - 2.5%);
                        //     }
                        // }
                    }
                }

            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
    transform: translate(0, -200%);
}

.swiper-button-prev {
    transform: translate(calc(-100% - 10px), -200%);
}

}

@media screen and (min-width: 1400px) {
    main {
        .quiz_page {

            .test_area {
                &.book_select {
                    .test_area_right {

                        .test_area_content {

                            // .book_select_area {

                            //     .book_select_item {
                            //         width: 22%;
                            //         margin: 15px calc(3% / 2);
                            //     }
                            // }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1600px) {
    main {
        .main_footer {
            .footer_logo {
                .footer_logo_img {
                    max-width: 500px;
                }
            }
        }
    }
}