main {
    .consent_area{
        width: 80%;
        margin: 30px auto;
        .consent_tittle{
            margin: 0 auto 15px;
            color: $main-color;
            padding: 0 15px;
        }
        .consent_content{
            max-height: calc(80vh - 65px - 90px - 55px - 45px);
            overflow-y: scroll;
            padding: 15px;
            border: 1px solid $main-color;
        }
    }

    .consent_input{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        .consent_input_checkbox {
            position: absolute;
            opacity: 0;

            &+label {
                color: $main_color_grey;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                padding: 0;

                &:before {
                    content: '';
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: text-top;
                    width: 20px;
                    height: 20px;
                    background: $white;
                    border: 1px solid $main_color_grey;
                }

                .consent_input_text{
                    width: calc(100% - 20px - 10px);
                }
            }

            &:hover {
                &+label {
                    color: $main_color;
                    &:before {
                        border: 1px solid $main_color;
                    }
                }
            }

            &:checked {
                &+label {
                    color: $main_color;
                    &:before {
                        border: 1px solid $main_color;
                        background-color: $main_color;
                    }

                    &:after {
                        font-family: 'FontAwesome', sans-serif;
                        content: '\f00c';
                        position: absolute;
                        color: $white;
                        width: 20px;
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .button_consent{
        width: 80%;
        max-width: 300px;

        &:disabled{
            background-color: $disabled;
            border: 1px solid $disabled;

            &:hover {
                transform: scale(1);
                background-color: $disabled;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    main {
        .consent_area{
            .consent_content{
                max-height: calc(80vh - 65px - 60px - 55px - 60px);
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
    }
}

@media screen and (min-width: 768px) {
    main {
        .consent_area{
            .consent_content{
                max-height: calc(80vh - 144px - 72px - 68px - 45px);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
    }
}

@media screen and (min-width: 1024px) {
    main {
        .consent_area{
            margin: 80px auto 50px;
            .consent_tittle{
                margin: 0 auto 50px;
            }
            .consent_content{
                max-height: calc(80vh - 65px - 90px - 55px - 45px);
            }
        }
    
        .button_consent{
            margin: 50px auto 0;
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
    }
}