main {
    position: relative;
    padding: 0 0 150px;
    .quiz_book_bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #a7a7a761;
        }
    }

    .quiz_page {
        margin: 0px auto;
        width: 90%;

        .course_area {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 20px 0;

            .course_name {
                span {
                    color: $main_color;
                    font-size: 25px;
                    font-weight: bold;
                }
            }

            .course_img {
                width: 150px;
                margin: 20px 0;
                border-radius: 10px;
                border: 1px solid $main_color;

                img {
                    border-radius: 10px;
                }
            }
        }

        .test_area {
            width: 100%;
            margin: 0px auto;
            display: flex;
            flex-wrap: wrap;

            .test_area_link{
                background-color: $bright_main_color;
                border-radius: 5px;
                margin: 40px 0 0;
                a{
                    display: block;
                    color: $white;
                    padding: 10px 15px;
                }
            }

            .test_area_left {
                width: 100%;
                // background-color: $white;
                // padding: 10px 15px;
                border-radius: 10px;
                margin: 40px auto 0;

                .test_area_left_tittle {
                    padding: 10px 5%;
                    cursor: pointer;
                    background-color: $white;
                    border-radius: 10px;
                    display: none;

                    &:nth-child(1){
                        display: block;
                    }

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        color: $main_color;
                        padding: 3px 5px 15px;
                    }

                    .test_area_left_options {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        display: none;

                        .test_area_left_options_item {
                            padding: 0px 10px;
                            width: 100%;

                            &:nth-last-child(1){
                                border-right: 0;
                            }

                            a {
                                display: block;
                                padding: 7px 0;
                                margin: 7px 0;
                                position: relative;
                                color: $main_color_grey;
                                background: linear-gradient(currentcolor, currentcolor) 100% 100% / 0 1px no-repeat;
                                transition: background-size var(--transition-duration) var(--transition-timing-function) 0s;

                                &:hover,
                                &:active {
                                    color: $bright_main_color;
                                    background-position: 0 100%;
                                    background-size: 100% 1px;
                                }
                            }

                            &.active {
                                a {
                                    color: $bright_main_color;
                                    font-weight: bold;
                                    cursor: auto;

                                    &:hover,
                                    &:active {
                                        color: $bright_main_color;
                                        background-position: 0 0;
                                        background-size: 0 0;
                                    }


                                    // &::after {
                                    //     content: "";
                                    //     position: absolute;
                                    //     top: 50%;
                                    //     left: 0;
                                    //     transform: translate(calc(-100% - 10px), -50%);

                                    //     width: 7px;
                                    //     height: 7px;
                                    //     border-radius: 50%;
                                    //     background-color: $bright_main_color;
                                    // }

                                }
                            }
                        }
                    }

                    &.open{
                        .test_area_left_options{
                            display: flex;
                        }
                    }

                    &.active{
                        p{
                            color: $bright_main_color;
                        }
                        .test_area_left_options{
                            display: flex !important;
                        }
                    }

                    &:hover{
                        
                        p{
                            color: $bright_main_color;
                            background-position: 0 100%;
                        background-size: 100% 1px;
                        }
                    }
                }
            }

            .test_area_right {
                width: 100%;
                margin: 40px auto;

                .test_area_right_tittle {
                    margin: 10px 20px;

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        color: $main_color;
                    }
                }

                .test_area_right_nav {
                    width: 90%;
                    margin: 0 auto 30px;

                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        .test_area_right_nav_item {
                            position: relative;
                            padding: 5px 3px;
                            margin: 7px 0 7px 10px;
                            border: 0px;
                            border-radius: 0;
                            background-color: transparent;

                            a {
                                padding: 3px 5px;
                                color: $black;
                                background: linear-gradient(currentcolor, currentcolor) 100% 100% / 0 1px no-repeat;
                                transition: background-size var(--transition-duration) var(--transition-timing-function) 0s;

                                &:hover {
                                    color: $bright_main_color;
                                }

                                &:hover,
                                &:active {
                                    color: $bright_main_color;
                                    background-position: 0 100%;
                                    background-size: 100% 1px;
                                }

                            }

                            &::after {
                                position: absolute;
                                content: "/";
                                right: 0;
                                transform: translate(100%, 0);
                                color: $main_color_grey;
                            }

                            &:nth-child(4) {
                                &::after {
                                    content: "";
                                }
                            }

                            &.active {
                                background-color: transparent;
                                color: $main-color;


                                a {
                                    color: $bright_main_color;
                                    font-weight: bold;
                                    cursor: auto;

                                    &:hover,
                                    &:active {
                                        color: $bright_main_color;
                                        background-position: 0 0;
                                        background-size: 0 0;
                                    }
                                }
                            }
                        }
                    }

                    // .test_area_right_nav_item {
                    //     padding: 5px 3px;
                    //     border: 1px solid $main-color;
                    //     border-bottom: 0px;
                    //     border-radius: 5px 5px 0 0;
                    //     background-color: $white;
                    //     transform: translate(-1px, 0);

                    //     a {
                    //         color: $black;

                    //         &:hover {
                    //             color: $bright_main_color;
                    //         }

                    //     }

                    //     &:nth-child(1) {
                    //         transform: translate(0, 0);
                    //     }

                    //     &:last-child(1) {
                    //         border-right: 1px solid $main-color;
                    //     }

                    //     &.active {
                    //         background-color: $main-color;

                    //         a {
                    //             color: $white;

                    //             &:hover {
                    //                 color: $white;
                    //             }
                    //         }
                    //     }
                    // }
                }

                .test_area_content {
                    border-radius: 5px;
                    border: 1px solid $main_color;
                    background-color: $test_bg;
                    margin: 0 auto;

                    .course_area {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        padding: 20px 0 0;
                        margin: 0 auto;
            
                        .course_name {
                            span {
                                color: $main_color;
                                font-size: 25px;
                                font-weight: bold;
                            }
                        }
            
                        .course_img {
                            width: 150px;
                            margin: 20px 0;
                            border-radius: 10px;
                            border: 1px solid $main_color;
            
                            img {
                                border-radius: 10px;
                            }
                        }
                    }

                    .dialogue_choose_caption {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 90%;
                        margin: 0 auto;
                        padding: 20px 0;

                        .dialogue_choose_avatar {
                            width: 40px;
                            margin: 0 15px 0 0;
                        }

                        .dialogue_choose_text {
                            display: flex;
                            align-items: center;
                            padding: 12px 15px;
                            border-radius: 5px;
                            position: relative;
                            background-color: $white;

                            &::before {
                                content: "";
                                position: absolute;
                                border-width: 8px 0px 8px 8px;
                                left: 0;
                                top: 50%;
                                transform: translate(-100%, -50%);
                                border-right: 8px solid $white;
                                border-bottom: 8px solid transparent;
                                border-left: 8px solid transparent;
                                border-top: 8px solid transparent;
                            }
                        }
                    }

                    .input_area_form {
                        width: 90%;
                        margin: 0 auto;
                    }

                    .dialogue_area {
                        width: 90%;
                        margin: 0 auto;

                        .dialogue_block {
                            display: flex;
                            align-items: center;
                            padding: 70px 0 0;

                            position: relative;

                            .dialogue_avatar {
                                width: 40px;
                            }

                            .dialog_record {
                                position: absolute;
                                z-index: 1;
                                bottom: 0;
                                transform: translate(0, calc(100% + 10px));

                                .dialog_box_icon {
                                    margin: 0 0px;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    // background-color: $main-color;

                                    background-color: $main_color_green;
                                    color: $white;
                                    border-radius: 50%;

                                    &:hover {
                                        transform: scale(1.05);
                                    }
                                }

                            }

                            .dialog_box {
                                display: flex;
                                align-items: center;
                                padding: 12px 10px;
                                border-radius: 5px;
                                position: relative;
                                max-width: 60%;

                                position: relative;
                                width: calc(100% - 55px);
                                max-width: none;

                                .dialog_box_icon {
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: $main-color;
                                    color: $white;
                                    border-radius: 50%;

                                    position: absolute;
                                    z-index: 1;
                                    bottom: 0;
                                    transform: translate(0, calc(100% + 10px));

                                    &:hover {
                                        transform: translate(0, calc(100% + 10px)) scale(1.05);
                                    }
                                }

                                .dialog_box_text {
                                    width: calc(100% - 70px);

                                    width: 100%;
                                }

                                .sound_bar {
                                    height: 20px;
                                    margin: 0 5px;
                                    display: flex;
                                    align-items: center;

                                    &.play_animation {
                                        .bar {
                                            animation: sound 0ms -800ms linear infinite alternate;
                                        }
                                    }

                                    .bar {
                                        background-color: $main-color;
                                        height: 0px;
                                        width: 3px;
                                        margin: 0px 2px;
                                        border-radius: 50px;

                                        &:nth-child(1) {
                                            animation-duration: 474ms;
                                            height: 10px;
                                        }

                                        &:nth-child(2) {
                                            animation-duration: 433ms;
                                            height: 15px;
                                        }

                                        &:nth-child(3) {
                                            animation-duration: 407ms;
                                            height: 20px;
                                        }

                                        &:nth-child(4) {
                                            animation-duration: 458ms;
                                            height: 10px;
                                        }
                                    }
                                }

                                .dialog_box_time {
                                    margin: 0 5px;
                                    color: $main-color;
                                }
                            }


                            &.dialogue_left {
                                .dialogue_avatar {
                                    margin: 0 15px 0 0;
                                }

                                .dialog_record {
                                    order: 2;
                                    left: 100px;
                                }

                                .dialog_box {
                                    background-color: $light_purple;

                                    .dialog_box_icon {
                                        left: 0px;
                                    }

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        border-width: 8px 0px 8px 8px;
                                        left: 0;
                                        top: 50%;
                                        transform: translate(-100%, -50%);
                                        border-right: 8px solid $light_purple;
                                        border-bottom: 8px solid transparent;
                                        border-left: 8px solid transparent;
                                        border-top: 8px solid transparent;
                                    }
                                }
                            }

                            &.dialogue_right {
                                justify-content: flex-end;

                                .dialogue_avatar {
                                    margin: 0 0 0 15px;
                                    order: 2;
                                    background-color: $grey;
                                    padding: 10px;
                                    line-height: 0;
                                    border-radius: 50%;

                                    img {
                                        line-height: 0;
                                    }
                                }

                                .dialog_record {
                                    right: 100px;
                                }

                                .dialog_box {
                                    background-color: $main-color;
                                    order: 1;

                                    .dialog_box_icon {
                                        order: 3;
                                        background-color: $white;
                                        color: $main-color;
                                        right: 0px;
                                        border: 1px solid $main_color;
                                    }

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        border-width: 8px 8px 8px 0px;
                                        right: 0;
                                        top: 50%;
                                        transform: translate(100%, -50%);
                                        border-right: 8px solid transparent;
                                        border-bottom: 8px solid transparent;
                                        border-left: 8px solid $main-color;
                                        border-top: 8px solid transparent;
                                    }

                                    .dialog_box_text {
                                        color: $white;
                                    }

                                    .sound_bar {
                                        order: 2;

                                        .bar {
                                            background-color: $white;
                                        }
                                    }

                                    .dialog_box_time {
                                        order: 1;
                                        color: $white;
                                    }
                                }
                            }

                            &.dialogue_ai {
                                .dialog_box {
                                    width: auto;
                                }
                            }
                        }
                    }

                    .listen_area {
                        width: 90%;
                        margin: 0 auto;
                        padding: 20px 0;

                        .listen_sentence {
                            label {
                                cursor: pointer;
                                margin: 10px 0;

                                &:hover {
                                    color: $bright_main_color;
                                }

                                ruby {
                                    line-height: 1.5;
                                    word-break: break-word;
                                    margin: 5px 3px;
                                    display: inline-block;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .drag_line {
                        max-width: 1200px;
                        width: 45%;
                        height: 4px;
                        background: $grey;
                        border-radius: 8px;
                        display: flex;
                        margin: 0 auto;

                        .line {
                            background: $main_color;
                            border-radius: 8px;
                            margin-top: 0px;
                            margin-left: 0px;
                        }
                    }

                    .toolbar_area {
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        justify-content: flex-end;
                        padding: 10px;
                        margin: 80px auto 0;
                        padding: 30px 0;
                        background-color: $white;
                        border-top: 1px solid $main_color;

                        .btn_icon_area {
                            .btn_icon {
                                width: 55px;
                                height: 55px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background-color: $main-color;

                                i {
                                    color: $white;
                                    font-size: 30px;
                                }

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }

                        .toolbar_item {
                            width: calc(40% - 30px);
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            margin: 0 5%;

                            .toolbar_item_btn {
                                position: relative;

                                .btn_icon {
                                    margin: 0 5px;
                                    border-radius: 50%;
                                    border: 1px solid $main_color;
                                    width: 30px;
                                    height: 30px;

                                    i {
                                        font-size: 15px;
                                        color: $main_color;
                                    }

                                    &:hover {
                                        transform: scale(1.05);
                                    }

                                    &.font_icon {

                                        &.hide {
                                            &:after {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%) rotate(45deg);
                                                width: 40px;
                                                height: 2px;
                                                background-color: $main_color;
                                                opacity: 1;
                                            }
                                        }
                                    }

                                    &.speak_icon {
                                        &.open {
                                            &~.speak_menu_container {
                                                display: block;
                                            }
                                        }
                                    }
                                }

                                .speak_menu_container {
                                    position: absolute;
                                    left: 50%;
                                    transform: translate(-50%, 0);
                                    z-index: 1;
                                    color: $main_color;
                                    background-color: $white;
                                    border: 2px solid $main_color;
                                    border-radius: 4px;
                                    min-width: 100px;
                                    text-align: center;
                                    bottom: 100%;
                                    padding: 5px 10px;
                                    margin-bottom: 11px;
                                    display: none;

                                    p {
                                        margin: 5px;
                                        cursor: pointer;
                                        background: linear-gradient(currentcolor, currentcolor) 100% 100% / 0 1px no-repeat;
                                        transition: background-size var(--transition-duration) var(--transition-timing-function) 0s;


                                        &.active {
                                            color: $bright_main_color;
                                            font-weight: bold;

                                            &:hover,
                                            &:active {
                                                cursor: auto;
                                                background-position: 0 0;
                                                background-size: 0 0;
                                            }
                                        }

                                        &:hover,
                                        &:active {
                                            color: $bright_main_color;
                                            background-position: 0 100%;
                                            background-size: 100% 1px;
                                        }
                                    }

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        border: solid transparent;
                                        border-width: 9px 9px 0 9px;
                                        border-top-color: $main_color;
                                        bottom: -10px;
                                        left: 50%;
                                        transform: translate(-50%, 0px);
                                    }
                                }
                            }
                        }

                        &.toolbar_dialogue {
                            padding: 20px 10%;
                            justify-content: center;
                            flex-wrap: wrap;

                            .dialogue_btn {
                                margin: 10px;
                                display: flex;
                                justify-content: center;
                                border-radius: 5px;
                                transform: scale(0.95);
                                width: 100%;

                                button {
                                    padding: 10px 0;
                                    width: 100%;
                                }

                                &:hover {
                                    transform: scale(1);
                                }

                                &.dialogue_btn_try {
                                    background-color: $main_color;
                                    border: 1px solid $main_color;

                                    button {
                                        color: $white;
                                    }
                                }

                                &.dialogue_btn_change {
                                    background-color: $white;
                                    border: 1px solid $main_color;

                                    button {
                                        color: $main_color;
                                    }
                                }

                                &.dialogue_btn_done {
                                    background-color: $main_color_green;
                                    border: 1px solid $main_color_green;

                                    button {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            &.test_area_quiz{
                .test_area_left {
    
                    .test_area_left_tittle {
    
                        .test_area_left_options {
    
                            .test_area_left_options_item {
                                padding: 0px 10px;
                                margin: 10px 0;
    
                                a {
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .test_area_right{
                    .test_area_content{
                        padding: 15px 0;
                        .test_area_content_img{
                            display: flex;
                            justify-content: flex-start;
                            width: 90%;
                            margin: 0 auto;
                            padding: 20px 0;

                            img{
                                max-width: 500px;
                                border-radius: 10px;
                                position: sticky;
                                top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@keyframes sound {
    0% {
        opacity: .55;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 20px;
    }
}

@media screen and (min-width: 500px) {
    main {
        .quiz_page {

            .test_area {
                .test_area_left {
                    // padding: 20px 15px 40px;

                    .test_area_left_tittle {

                        .test_area_left_options {

                            .test_area_left_options_item {
                                width: auto;
                                margin: 5px 0;
                                display: flex;
                                justify-content: center;
                                border-right: 1px solid $main_color_grey;

                                // &.active {
                                //     a {
                                //         &::after {
                                //             top: 100%;
                                //             left: 50%;
                                //             transform: translate(0, 10px);
                                //         }
                                //     }

                                // }
                            }
                        }
                    }


                }

                .test_area_right {

                    .test_area_right_tittle {
                        margin: 15px 20px;
                    }

                    .test_area_right_nav {

                        .test_area_right_nav_item {
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .quiz_page {
            .course_area {
                flex-direction: row;
                padding: 30px 0;

                .course_name {
                    span {
                        font-size: 30px;
                    }
                }

                .course_img {
                    width: 180px;
                    margin: 0;
                    border: 2px solid $main_color;
                }
            }

            .test_area {
                justify-content: space-between;

                .test_area_left {
                    .test_area_left_tittle {
                        p {
                            font-size: 25px;
                        }
                    }
                }

                .test_area_right {
                    .test_area_right_tittle {
                        p {
                            font-size: 25px;
                        }
                    }

                    .test_area_right_nav {
                        .test_area_right_nav_item {
                            padding: 10px;
                            border: 2px solid $main-color;
                            border-bottom: 0px;
                            transform: translate(-2px, 0);
                        }
                    }

                    .test_area_content {
                        border: 2px solid $main_color;

                        .dialogue_choose_caption {
                            margin: 0 auto;
                            padding: 40px 0;

                            .dialogue_choose_avatar {
                                width: 50px;
                            }

                            .dialogue_choose_text {
                                padding: 15px 20px;
                            }
                        }

                        .input_area_form{
                            max-width: 800px;

                            .input_area{
                                .input-group-label{
                                    width: auto;
                                }
                            }
                        }

                        .dialogue_area {
                            .dialogue_block {
                                padding: 60px 0 0;

                                .dialogue_avatar {
                                    width: 50px;
                                }

                                .dialog_record {
                                    position: relative;
                                    bottom: auto;
                                    transform: translate(0, 0);
                                    margin: 0 10px;

                                    .dialog_box_icon {
                                        width: 50px;
                                        height: 50px;

                                        i {
                                            font-size: 30px;
                                        }
                                    }
                                }

                                .dialog_box {
                                    padding: 15px 20px;
                                    width: calc(100% - 75px);

                                    .dialog_box_icon {
                                        width: 50px;
                                        height: 50px;

                                        position: relative;
                                        bottom: auto;
                                        transform: translate(0, 0);

                                        &:hover {
                                            transform: scale(1.05);
                                        }

                                        i {
                                            font-size: 30px;
                                        }
                                    }

                                    .dialog_box_text {
                                        margin: 0 10px;
                                        width: calc(100% - 90px);
                                    }

                                    .sound_bar {
                                        height: 30px;

                                        .bar {

                                            &:nth-child(1) {
                                                height: 15px;
                                            }

                                            &:nth-child(2) {
                                                height: 20px;
                                            }

                                            &:nth-child(3) {
                                                height: 30px;
                                            }

                                            &:nth-child(4) {
                                                height: 20px;
                                            }
                                        }
                                    }
                                }

                                &.dialogue_left {
                                    .dialogue_avatar {
                                        margin: 0 25px 0 0;
                                    }

                                    .dialog_record {
                                        left: auto;
                                    }

                                    .dialog_box {

                                        .dialog_box_icon {
                                            left: auto;
                                        }

                                        &::before {
                                            border-width: 10px 0px 10px 10px;
                                            border-right: 10px solid $light_purple;
                                            border-bottom: 10px solid transparent;
                                            border-left: 10px solid transparent;
                                            border-top: 10px solid transparent;
                                        }
                                    }
                                }

                                &.dialogue_right {
                                    .dialogue_avatar {
                                        margin: 0 0 0 25px;
                                    }

                                    .dialog_record {
                                        right: auto;
                                    }

                                    .dialog_box {

                                        .dialog_box_icon {
                                            right: auto;
                                        }

                                        &::before {
                                            border-width: 10px 10px 10px 0px;
                                            border-right: 10px solid transparent;
                                            border-bottom: 10px solid transparent;
                                            border-left: 10px solid $main-color;
                                            border-top: 10px solid transparent;
                                        }
                                    }
                                }
                            }
                        }

                        .toolbar_area {
                            // &::before {
                            //     transform: translate(-2px, 0);
                            //     width: calc(100% + 4px);
                            //     border: 2px solid $main_color;
                            // }

                            .btn_icon_area {
                                .btn_icon {
                                    width: 65px;
                                    height: 65px;

                                    i {
                                        font-size: 40px;
                                    }
                                }
                            }

                            .toolbar_item {
                                width: calc(40% - 30px);
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                margin: 0 5%;

                                .toolbar_item_btn {
                                    position: relative;

                                    .btn_icon {
                                        margin: 0 10px;
                                        width: 40px;
                                        height: 40px;

                                        i {
                                            font-size: 25px;
                                        }

                                        &.font_icon {

                                            &.hide {
                                                &:after {
                                                    width: 60px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.toolbar_dialogue {
                                .dialogue_btn {
                                    width: 45%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 992px) {
    main {
        .quiz_page {

            .test_area {

                .test_area_left {
                    width: 25%;

                    .test_area_left_tittle {
                        padding: 15px 20px;
                        border-radius: 0;
                        display: block;

                        p {
                            background: linear-gradient(currentcolor, currentcolor) 100% 100% / 0 1px no-repeat;
                        transition: background-size var(--transition-duration) var(--transition-timing-function) 0s;
                        }

                        &:nth-child(1){
                            border-radius: 10px 10px 0 0;
                        }

                        &:nth-last-child(1){
                            border-radius: 0 0 10px 10px;
                        }

                        .test_area_left_options {
                            .test_area_left_options_item {
                                width: 100%;
                                margin: 5px 0;
                                padding: 0 5x;
                                justify-content: flex-start;
                                border-right: 0;

                                a {
                                    padding: 10px 0;
                                }

                                &.active {
                                    a {

                                        &::after {
                                            top: 50%;
                                            left: 0;
                                            transform: translate(calc(-100% - 10px), -50%);
                                        }
                                    }
                                }
                            }
                        }
                    }


                }

                &.test_area_quiz{
                    .test_area_left{
                        width: 100%;
                        .test_area_left_tittle {
                            display: none;

                            &:hover{
                                p{
                                    background-position: 0 0%;
                                    background-size: 0% 0px;
                                }
                            }

                            &:nth-child(1){
                                display: block;
                                border-radius: 10px;
                            }
                            .test_area_left_options {
                                .test_area_left_options_item{
                                    width: auto;
                                    margin: 5px 0;
                                    display: flex;
                                    justify-content: center;
                                    border-right: 1px solid $main_color_grey;

                                    &:nth-last-child(1){
                                        border-right: 0;
                                    }
                                }
                            }
                        }
                    }

                    .test_area_right{
                        width: 100%;
                        .test_area_right_nav{
                            margin: 20px auto;
                            padding: 15px 20px;
                            width: 100%;
                        }

                        .test_area_content{
                            .course_area{
                                width: 100%;
                                padding: 15px 33px;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1024px) {
    main {
        .quiz_page {

            .test_area {
                &.test_area_quiz{
                    .test_area_right{
                        .test_area_content{
                            display: flex;
                            flex-wrap: wrap;

                            .test_area_content_img{
                                display: block;
                                width: calc(30% - 10px);
                                margin: 0 calc(5% - 33px) 0 33px;
                            }

                            .listen_area,
                            .dialogue_area,
                            .dialogue_area{
                                width: calc(60% - 10px);
                                margin: 0 33px 0 calc(5% - 33px);
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    main {
        .quiz_page {
            .course_area {
                padding: 40px 0;

                .course_name {
                    span {
                        font-size: 40px;
                    }
                }

                .course_img {
                    width: 250px;
                }
            }

            .test_area {

                .test_area_right {

                    .test_area_right_nav {

                        .test_area_right_nav_item {
                            padding: 10px 15px;
                        }
                    }

                    .test_area_content {

                        .dialogue_area {
                            .dialogue_block {

                                .dialog_box {
                                    width: calc(75% - 75px);

                                    .sound_bar {
                                        height: 40px;

                                        .bar {

                                            &:nth-child(1) {
                                                height: 20px;
                                            }

                                            &:nth-child(2) {
                                                height: 25px;
                                            }

                                            &:nth-child(3) {
                                                height: 40px;
                                            }

                                            &:nth-child(4) {
                                                height: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .toolbar_area {
                            &.toolbar_dialogue {
                                .dialogue_btn {
                                    width: 28%;
                                }
                            }
                        }

                    }
                }
            }
        }

    }
}