main {
    .select_page_area {
        width: 80%;
        margin: 60px auto 40px;
        .select_page_btn_area{
            .select_page_link{
                .select_page_btn{
                    justify-content: space-between;
                    width: 100%;
                    p{
                        font-size: 21px
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    main {
        .select_page_area {
            width: 80%;
            margin: 60px auto 0;
            .select_page_btn_area{
                .select_page_link{
                    .select_page_btn{
                        p{
                            font-size: 25px
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .select_page_area {
            width: 80%;
            margin: 60px auto 0;
            .select_page_btn_area{
                display: flex;
                .select_page_link{
                    width: 33%;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}