main {

    .login_area {
        background-image: url(../image/photo/login/login_bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: calc(100vh - 75px);

        .login_form{
            width: 100%;
            max-width: 500px;
            padding: 40px 10%;
            background-color: rgba($body_bg, .6);
            height: 100%;
            .login_img{
                width: 80%;
                margin: 0 10%;
            }
    
            .login_title {
                color: $main_color_grey;
                margin: 30px auto 0;
            }
    
            .input_area {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 15px auto;
    
                .input-group-text {
                    position: absolute;
                    background-color: transparent;
                    border: 0px;
                    padding: 5px 15px;
                    border-radius: 0;

                    &.icon_password,
                    &.icon_user {
                        cursor: pointer;
                        border-right: 1px solid $main_color_grey;
    
                        i {
                            color: $main_color_grey;
                        }
                    }

                    &.icon_eye{
                        right: 0;
                        &:focus{
                            &~.form-control{
                                border: 0;
                                box-shadow: none;
                                color: $main_color;
                                outline: solid calc( 1em * 2 / 16) rgba($main_color, .6);
        
                            }
                        }
                    }
                }
    
                .form-control {
                    padding: 10px 45px 10px 55px;

                    &:focus{
                        border: 0;
                        box-shadow: none;
                        color: $main_color;
                        outline: solid calc( 1em * 2 / 16) rgba($main_color, .6);
                    }
                }
    
                .password_input {
                    width: 100%;
                }
            }
    
            .save_password{
                display: flex;
                justify-content: flex-end;
                .save_password_checkbox {
                    position: absolute;
                    opacity: 0;
        
                    &+label {
                        color: $main_color_grey;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        padding: 0;
        
                        &:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 20px;
                            height: 20px;
                            background: $white;
                            border: 1px solid $main_color_grey;
                        }
                    }
    
                    &:hover {
                        &+label {
                            color: $main_color;
                            &:before {
                                border: 1px solid $main_color;
                            }
                        }
                    }
    
                    &:checked {
                        &+label {
                            &:before {
                                border: 1px solid $main_color;
                                background-color: $main_color;
                            }
    
                            &:after {
                                font-family: 'FontAwesome', sans-serif;
                                content: '\f00c';
                                position: absolute;
                                color: $white;
                                width: 20px;
                                font-size: 15px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            
            .register_btn{
                display: flex;
                justify-content: center;
                margin: 60px auto 0;
                color: $main_color_grey;
                a{
                    color: $main_color;
                    border-bottom: 0px solid transparent;
    
                    &:hover{
                        color: $main-color;
                        border-bottom: 1px solid $main-color;
                    }
                }
            }
        }

        
    }
}


@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}