main {
    .start_page{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 95px auto;
        position: relative;

        .start_page_tittle{
            h4{
                display: flex;
                justify-content: center;
                text-align: center;
                color: $main_color;
            }
        }

        .start_page_text{
            margin: 40px auto 0;
            p{
                display: flex;
            }
        }

        .start_page_btn{
            margin: 40px auto;
            padding: 5px 15px;
            background-color: $main-color;
            color: $white;

            &:hover{
                background-color: $bright_purple;
            }

            &:focus{
                border: 1.5px solid $main_color;
                box-shadow: 5px 5px 5px rgba(darken($main_color, 20%), .5);
            }
        }

        .return_btn{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0% , calc(-100% - 15px));
            i{
                color: $main_color_grey;
                font-size: 30px;
            }

            &:hover{
                i{
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    main {
        .select_page_area {
            width: 80%;
            margin: 60px auto 0;
            .select_page_btn_area{
                display: flex;
    
                .select_page_link{
                    width: 45%;
                }
    
                
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1024px) {
    main {
        .start_page{
    
            .return_btn{
                transform: translate(-100% , calc(-100% - 15px));
                i{
                    color: $main_color_grey;
                    font-size: 40px;
                }
    
                &:hover{
                    i{
                        font-size: 45px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {}